tr
    td(align="center" valign="middle")
        table(cellpadding="0" cellspacing="0" border="0" width="190" align="center")
            tbody
                tr
                    td.d-none.d-sm-table-cell(width="10" align="left")
                        img(src="images/001-big-btn-blue-left.png", alt="")
                    td.p-3.p-sm-0.rounded.rounded-sm-0.bg-blue.text-center.cta.big-cta.cta-blue(bgcolor="#7c22c9" align="center")
                        | Learn more
                    td.d-none.d-sm-table-cell(width="10" align="right")
                        img(src="images/001-big-btn-blue-right.png", alt="")