table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            table.content-table(cellpadding="0" cellspacing="0" width="560")
                tr
                    td(valign="top" align="center")
                        // Header logo block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                // Spacer 30 start
                                include ../../_partials/_spacer30.pug
                                // Spacer 30 end
                                tr
                                    td.text-center(valign='top' align='left')
                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                            tr
                                                td(valign='top' align='center')
                                                    a(href="https://www.samplelink.com" target="_blank")
                                                        img(src="images/black-SC-logo-top.png", alt="SkinCeuticals")
                                // Spacer 30 start
                                include ../../_partials/_spacer30.pug
                                // Spacer 30 end
                        // Header logo block end
                        // Header menu block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td.spacer.bg-border-gray(valign="top" align="center" height="1" width="100%" bgcolor="#c4c4c4")
                                        |&nbsp;
                                tr
                                    td.spacer(valign="top" align="center" height="6" width="100%")
                                        |&nbsp;
                                tr
                                    td(valign="top" align="center")
                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                            tbody
                                                tr
                                                    td.autoheight.coldrop.text-center.text-black.fb-font(valign="middle" align="center" height="35" style="color: #010101; font-family: Arial, Helvetica, sans-serif; font-size:12px;")
                                                        a.p-10.fb-font(href="https://www.samplelink.com" target="_blank" style="color: #010101; font-weight: bold; display:block; font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align: center;")
                                                            |PRODUCTOS
                                                    td.spacer.coldrop.bg-border-gray(valign="top" width="1" height="1" bgcolor="#c4c4c4")
                                                        |&nbsp;
                                                    td.autoheight.coldrop.text-center.text-black.fb-font(valign="middle" align="center" height="35" style="color: #010101; font-family: Arial, Helvetica, sans-serif; font-size:12px;")
                                                        a.p-10.fb-font(href="https://www.samplelink.com" target="_blank" style="color: #010101; font-weight: bold; display:block; font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align: center;")
                                                            |BEST SELLERS
                                                    td.spacer.coldrop.bg-border-gray(valign="top" width="1" height="1" bgcolor="#c4c4c4")
                                                        |&nbsp;
                                                    td.autoheight.coldrop.text-center.text-black.fb-font(valign="middle" align="center" height="35" style="color: #010101; font-family: Arial, Helvetica, sans-serif; font-size:12px;")
                                                        a.p-10.fb-font(href="https://www.samplelink.com" target="_blank" style="color: #010101; font-weight: bold; display:block; font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align: center;")
                                                            |CONÓCENOS
                                tr
                                    td.spacer(valign="top" align="center" height="6" width="100%")
                                        |&nbsp;
                                tr
                                    td.spacer.bg-border-gray(valign="top" align="center" height="1" width="100%" bgcolor="#c4c4c4")
                                        |&nbsp;
                        // Header menu block end