doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title One | Email template!

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/three/style.scss")

        //- embdedded css allowed, but not sass
        
        style
            //- | @media screen and (min-width:576px) {
            //- include ../../css/screen-and-min-width-576px.css
            //- | }
            | @media screen and (max-width:576px) {
            include ../../css/screen-and-max-width-576px.css
            | }
            //- | @media screen and (min-width:768px) {
            //- include ../../css/bootstrap/min-width-768px.css
            //- | }
        
    body
        // Yahoo Wrapper start
        table.email-wrapper-table.body-bg(cellspacing="0" cellpadding="0" border="0" width="100%")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.content-table(cellpadding="0" cellspacing="0" width="645")
                        tbody
                            // Spacer 20/15 start
                            include ../_partials/_spacer20-15.pug
                            // Spacer 20/15 end
                            tr
                                td(align="left" style="font-family:Arial; font-size:16px; color:#666666;" valign="middle")
                                    table(width="310" class="container" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            <!--[if lt IE 9 | mso]>
                                            <td width="5" style="font-family:Arial; font-size:16px; color:#666666;" valign="middle"><img style="display:block; border:none;" src="https://kathirr007.github.io/HTML-Email-Rendering-issues-and-Solutions/assets/images/cta_blue_left.jpg" width="5" height="40" alt=""/></td>
                                            <![endif]-->
                                            td(bgcolor="#009cde" style="font-family:Arial; font-size:16px; color:#666666; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;" valign="middle")
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                                    tr
                                                        td(style="font-family:Arial; font-size:14px; color:#FFFFFF;"
                                                            valign="middle" align="center")
                                                                a(style="display:block; text-decoration:none; color:#ffffff; padding:10px 0px 10px 0px; font-weight:bold;"
                                                                href="#" target="_blank")
                                                                    |CTA Text
                                            <!--[if lt IE 9 | mso]>
                                            td(width="5" style="font-family:Arial; font-size:16px; color:#666666;" valign="middle")
                                                img(style="display:block; border:none;" src="https://kathirr007.github.io/HTML-Email-Rendering-issues-and-Solutions/assets/images/cta_blue_right.jpg" width="5" height="40" alt="")
                                            <![endif]-->
                                    // Spacer block 20 start
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                        tbody
                                            // Spacer 20 start
                                            include ../_partials/_spacer20.pug
                                            // Spacer 20 end
                                    // Spacer block 20 end
                                    // Rounded red block start
                                    table.align-center(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign="top")
                                                    table.align-center(cellpadding="0" cellspacing="0" border="0" width="500")
                                                        // block top start
                                                        tr.hide
                                                            td(align="center" valign="middle")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td(align="left" valign="middle" width="10")
                                                                            img(src="images/003-10px-red-rnd-crnr-top-left.png", alt="")
                                                                        td.spacer10.bg-white(align="center" valign="middle" bgcolor="#db4848" height="10" style="font-size:1px; line-height:1px;")
                                                                            | &nbsp;
                                                                        td(align="right" valign="middle" width="10")
                                                                            img(src="images/003-10px-red-rnd-crnr-top-right.png", alt="")
                                                        // block top end
                                                        tr
                                                            td.bg-red.rounded-10(valign="top" align="center" bgcolor="#db4848")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td(valign="top" align="center" style="font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center; font-weight: bold;")
                                                                            a.text-white.py-5.px-30.py-mob-10(href="https://www.samplelink.com" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                                                                |Comprar ahora &gt;
                                                        // block bottom start
                                                        tr.hide
                                                            td(align="center" valign="middle")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td(align="left" valign="middle" width="10")
                                                                            img(src="images/003-10px-red-rnd-crnr-bottom-left.png", alt="")
                                                                        td.spacer10.bg-white(align="center" valign="middle" bgcolor="#db4848" height="10" style="font-size:1px; line-height:1px;")
                                                                            | &nbsp;
                                                                        td(align="right" valign="middle" width="10")
                                                                            img(src="images/003-10px-red-rnd-crnr-bottom-right.png", alt="")
                                                        // block bottom end
                                    // Rounded red block end
                            // Spacer 20/15 start
                            include ../_partials/_spacer20-15.pug
                            // Spacer 20/15 end
                            