doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Email template | Seven

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/seven/style.scss")

        //- embdedded css allowed, but not sass
        
        include ../_partials/_custom-fonts-and-mobile-styles.pug
        include ../_partials/_internal-and-conditional-styles.pug
        
    body.bg-white
        // Yahoo Wrapper start
        table.wrapper-table.bg-white(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.full(cellpadding="0" cellspacing="0" width="640")
                        tbody
                            tr
                                td(valign="top" align="center")
                                    table.content-table(cellpadding="0" cellspacing="0" width="559")
                                        tr
                                            td(valign="top" align="center")
                                                // Header block start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Pre headder start
                                                        //- include ./_partials/_pre-header.pug
                                                        // Pre-header end
                                                        tr
                                                            td(valign="top" align="center")
                                                                // Header title block start
                                                                table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                    tbody
                                                                        // Spacer 30 start
                                                                        include ../_partials/_spacer30.pug
                                                                        // Spacer 30 end
                                                                        tr
                                                                            td.text-center(valign='top' align='left')
                                                                                table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                    tr
                                                                                        td(valign='top' align='center')
                                                                                            img(src="images/black-SC-logo-top.png", alt="SkinCeuticals")
                                                                        // Spacer 30 start
                                                                        include ../_partials/_spacer30.pug
                                                                        // Spacer 30 end
                                                                // Header title block end
                                                // Header block end
                                                // Header menu block start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        tr
                                                            td.spacer.bg-border-gray(valign="top" align="center" height="1" width="100%" bgcolor="#c4c4c4")
                                                                |&nbsp;
                                                        tr
                                                            td.spacer(valign="top" align="center" height="6" width="100%")
                                                                |&nbsp;
                                                        tr
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tbody
                                                                        tr
                                                                            td.autoheight.coldrop.text-center.text-black(valign="middle" align="center" height="35" style="color: #010101; font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px;")
                                                                                a.p-10(href="https://www.samplelink.com" target="_blank" style="color: #010101; font-weight: bold; display:block; font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px; text-align: center;")
                                                                                    |PRODUCTOS
                                                                            td.spacer.coldrop.bg-border-gray(valign="top" width="1" height="1" bgcolor="#c4c4c4")
                                                                                |&nbsp;
                                                                            td.autoheight.coldrop.text-center.text-black(valign="middle" align="center" height="35" style="color: #010101; font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px;")
                                                                                a.p-10(href="https://www.samplelink.com" target="_blank" style="color: #010101; font-weight: bold; display:block; font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px; text-align: center;")
                                                                                    |BEST SELLERS
                                                                            td.spacer.coldrop.bg-border-gray(valign="top" width="1" height="1" bgcolor="#c4c4c4")
                                                                                |&nbsp;
                                                                            td.autoheight.coldrop.text-center.text-black(valign="middle" align="center" height="35" style="color: #010101; font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px;")
                                                                                a.p-10(href="https://www.samplelink.com" target="_blank" style="color: #010101; font-weight: bold; display:block; font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px; text-align: center;")
                                                                                    |CONÓCENOS
                                                        tr
                                                            td.spacer(valign="top" align="center" height="6" width="100%")
                                                                |&nbsp;
                                                        tr
                                                            td.spacer.bg-border-gray(valign="top" align="center" height="1" width="100%" bgcolor="#c4c4c4")
                                                                |&nbsp;
                                                // Header menu block end
                                                // Hero block text start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer15.pug
                                                        // Spacer 20 end
                                                        tr
                                                            td.text-white.fz-mob-30.bg-darkblue.p-35.p-mob-15(valign='top' bgcolor="#2e9ebe" align='center' style="font-family:'futura', Arial, Helvetica, sans-serif; font-size:45px; color: #ffffff; letter-spacing:5px").
                                                                TUS PRODUCTOS TE
                                                                ESTÁN ESPERANDO
                                                // Hero block text end
                                                // Promo content start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                table.full(cellpadding="0" cellspacing="0" border="0" width="500" align="center")
                                                                    tbody
                                                                        tr
                                                                            td.text-black.p-30.p-mob-15(valign='top' align='center' style="font-size:18px; color: #272828; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;").
                                                                                Notamos que olvidaste algo. Pero no te preocupes, lo guardamos para ti. Termina tu compra con confianza.
                                                // Promo content end
                                                // Products block title start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                table.full(cellpadding="0" cellspacing="0" border="0" width="500" align="center")
                                                                    tbody
                                                                        tr
                                                                            td(valign="top" align="center")
                                                                                img(src="images/down-arrow.png", alt="")
                                                // Products block title end
                                                // Product block 01 start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                        tr
                                                            td(valign='top' align='center')
                                                                table.align-center.autowidth.px-mob-20(border='0' cellspacing='0' cellpadding='0' align='center' width="570")
                                                                    tr
                                                                        td.coldrop.p-20(valign="middle" align="center" width="150" bgcolor="#eeeeee")
                                                                            table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                tr
                                                                                    td(valign="middle" align="center")
                                                                                        img(src="images/prod-img-01.png", alt="Phlorentin CF - 30ml")
                                                                        td.coldrop(valign="top" align="center" width="35" height="20")
                                                                            |&nbsp;
                                                                        td.coldrop(valign="top" align="center")
                                                                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                tr
                                                                                    td(valign='top')
                                                                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                                                                            tbody
                                                                                                tr
                                                                                                    td.text-darkblue.fz-mob-20.text-center.ls-1(valign='top' align="left" style="font-size:22px; color: #010101; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                                                                        Phlorentin CF - 30ml
                                                                                                include ../_partials/_spacer5.pug
                                                                                                tr
                                                                                                    td.text-darkblue.fz-mob-16.text-center(valign='top' align="left" style="font-size:18px; color: #8d8d8d;font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                                                                        $3,590
                                                                                                include ../_partials/_spacer5.pug
                                                                                                tr
                                                                                                    td.text-center(valign='top' align="left")
                                                                                                        table.align-center(cellpadding="0" cellspacing="0" border="0" width="60")
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td.bg-darkblue.spacer(valign="top" align="center" height="3" bgcolor="#2e9ebe")
                                                                                                                        |&nbsp;
                                                                                                include ../_partials/_spacer10.pug
                                                                                                tr
                                                                                                    td(valign='top' align="left")
                                                                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td.text-black.text-center(valign='top' align="left" style="font-size:16px; color: #010101; font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                                                                                        Suero antioxidante que proporciona mayor protección contra los rayos UVA-UVB y la contaminación.
                                                                                                                include ../_partials/_spacer15.pug
                                                                                                                tr
                                                                                                                    td.text-center(valign='top' align="left")
                                                                                                                        table.full(cellpadding="0" cellspacing="0" border="0")
                                                                                                                            tbody
                                                                                                                                tr
                                                                                                                                    td(valign="top" align="left")
                                                                                                                                        // CTA start
                                                                                                                                        include ./_partials/_darkgreen-cta-with-icon.pug
                                                                                                                                        // CTA end
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                // Product block 01 end
                                                // Footer title text start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Spacer 10 start
                                                        tr.hide
                                                            include ../_partials/_height10.pug
                                                        // Spacer 10 end
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                        tr
                                                            td(valign="top" align="center")
                                                                table.full(cellpadding="0" cellspacing="0" border="0" width="480" align="center")
                                                                    tbody
                                                                        tr
                                                                            td.text-darkblue.px-mob-15(valign='top' align='center' style="font-size:22px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif;").
                                                                                ¿POR QUÉ COMPRAR CON NOSOTROS?
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                // Footer title text end
                            // Footer full width content block start
                            tr
                                td.p-10.p-mob-15.bg-darkgray(valign="top" align="center" bgcolor="#322e2b")
                                    table.content-table(cellpadding="0" cellspacing="0" width="559")
                                        tr
                                            td.coldrop(valign="top" align="center" width="187")
                                                table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                img(src="images/guarantee-icon.png", alt="GARANTIZADO")
                                                        // Spacer 10 start
                                                        include ../_partials/_spacer10.pug
                                                        // Spacer 10 end
                                                        tr
                                                            td.text-white(valign="top" align="center" style="color: #ffffff; font-family: 'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; font-size: 12px;")
                                                                strong(style="font-family: 'futura', Arial, Helvetica, sans-serif;")
                                                                    | GARANTIZADO
                                                                br
                                                                | Recomendada por dermatólogos
                                                                | y cirujanos plásticos selectos
                                            td.py-mob-15.coldrop(valign="middle" align="center" width="45")
                                                table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                                    tr
                                                        td.autoheight.spacer.bg-white(valign="middle" align="center" bgcolor="#ffffff" width="1" height="42")
                                                            |&nbsp;
                                            td.coldrop(valign="top" align="center" width="120")
                                                table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                img(src="images/lock-icon.png", alt="PAGO SEGURO")
                                                        // Spacer 10 start
                                                        include ../_partials/_spacer10.pug
                                                        // Spacer 10 end
                                                        tr
                                                            td.text-white(valign="top" align="center" style="color: #ffffff; font-family: 'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; font-size: 12px;")
                                                                strong(style="font-family: 'futura', Arial, Helvetica, sans-serif;")
                                                                    | PAGO SEGURO
                                                                br
                                                                | Con tarjetas de crédito
                                                                | y PayPal
                                            td.py-mob-15.coldrop(valign="middle" align="center" width="45")
                                                table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                                    tr
                                                        td.autoheight.spacer.bg-white(valign="middle" align="center" bgcolor="#ffffff" width="1" height="42")
                                                            |&nbsp;
                                            td.coldrop(valign="top" align="center" width="160")
                                                table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                img(src="images/dealer-icon.png", alt="DISTRIBUIDOR AUTORIZADO")
                                                        // Spacer 10 start
                                                        include ../_partials/_spacer10.pug
                                                        // Spacer 10 end
                                                        tr
                                                            td.text-white(valign="top" align="center" style="color: #ffffff; font-family: 'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; font-size: 12px;")
                                                                strong(style="font-family: 'futura', Arial, Helvetica, sans-serif;")
                                                                    | DISTRIBUIDOR AUTORIZADO
                                                                br
                                                                | Puedes comprar
                                                                br
                                                                | con confianza


                            // Footer full width content block end
                            // Footer content start
                            tr
                                td(valign="top" align="center")
                                    table.content-table(cellpadding="0" cellspacing="0" width="559")
                                        tr
                                            td(valign="top" align="center")
                                                // Footer block start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                        tr
                                                            td(valign="top" align="center")
                                                                table.full-width.px-mob-15(width="559" border="0" cellspacing="0" cellpadding="0")
                                                                    tr
                                                                        td.spacer.bg-darkblue(valign="top" align="center" height="1" width="100%" bgcolor="#2e9ebe")
                                                                            |&nbsp;
                                                                    // Spacer 15 start
                                                                    include ../_partials/_spacer15.pug
                                                                    // Spacer 15 end
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.text-center.coldrop(valign='top' align='left')
                                                                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                            tr
                                                                                                td.pr-10(valign="top" align="center")
                                                                                                    a(href="https://www.samplelink.com" target="_blank")
                                                                                                        img(src="images/facebook-icon.png", alt="Facebook")
                                                                                                td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                                                    a(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                                                        |@SkinCeuticalsMX
                                                                                    td.spacer.coldrop(valign="top" width="25" height="20")
                                                                                        |&nbsp;
                                                                                    td.text-center.coldrop(valign='top' align='left')
                                                                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                            tr
                                                                                                td.pr-10(valign="top" align="center")
                                                                                                    a(href="https://www.samplelink.com" target="_blank")
                                                                                                        img(src="images/instagram-icon.png", alt="Instagram")
                                                                                                td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                                                    a(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                                                        |@SkinCeuticalsMX
                                                                                    td.spacer.coldrop(valign="top" width="25" height="20")
                                                                                        |&nbsp;
                                                                                    td.text-center.coldrop(valign='top' align='left')
                                                                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                            tr
                                                                                                td.pr-10(valign="top" align="center")
                                                                                                    a(href="https://www.samplelink.com" target="_blank")
                                                                                                        img(src="images/youtube-icon.png", alt="Youtube")
                                                                                                td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                                                    a(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                                                        |SkinCeuticals México
                                                // Footer block end
                            // Footer content end