html { background-color: #67be5d; }

body { overflow-x: hidden; font-family: "Relay Lt", "Trebuchet MS", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p { line-height: 1.75; }

@media (min-width: 768px) { section { padding: 9rem 0; } }

::-moz-selection { background: #67be5d; text-shadow: none; }

::selection { background: #67be5d; text-shadow: none; }

img::-moz-selection { background: transparent; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

.btn-xl { padding: 1.25rem 2.5rem; font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1.125rem; font-weight: 700; }

.btn-social { height: 2.5rem; width: 2.5rem; display: inline-flex; align-items: center; justify-content: center; padding: 0; border-radius: 100%; }

#mainNav { padding: 0; background-color: #67be5d; }

#mainNav .navbar-toggler { padding: 0.75rem; font-size: 0.75rem; color: #fff; text-transform: uppercase; background-color: #67be5d; border: 0; }

#mainNav .navbar-brand { color: #67be5d; font-weight: 700; letter-spacing: 0.0625em; text-transform: uppercase; }

#mainNav .navbar-nav .nav-item .nav-link { font-size: 0.95rem; color: #fff; letter-spacing: 0.0625em; }

@media (max-width: 991.98px) { .main-navbar { padding: 10px 25px !important; background-color: #fff; }
  .main-navbar .navbar-brand { width: 50%; padding: 35px; display: block; background: url("../assets/img/logo.png") no-repeat 15px; background-size: contain; transition: padding .35s ease; }
  .main-navbar .navbar-brand img { display: none; }
  .main-navbar .navbar-nav li a { color: #67be5d; }
  .main-navbar .navbar-collapse { background-color: #67be5d; padding: 15px; } }

@media (min-width: 992px) { #mainNav { border: none; transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out; }
  #mainNav .navbar-brand { width: 18%; font-size: 1.5em; transition: font-size 0.3s ease-in-out; }
  #mainNav .navbar-brand img { transition: height 0.3s ease-in-out; }
  #mainNav.navbar-shrink { background-color: #67be5d; }
  #mainNav.navbar-shrink .container-fluid { padding-top: 0; padding-bottom: 0; }
  #mainNav.navbar-shrink .container-fluid.main-navbar { background-color: #fff; }
  #mainNav.navbar-shrink .container-fluid.main-navbar .navbar-brand { padding: 35px; display: block; background: url("../assets/img/logo.png") no-repeat 15px; background-size: contain; transition: padding .35s ease; }
  #mainNav.navbar-shrink .container-fluid.main-navbar .navbar-brand img { display: none; }
  #mainNav.navbar-shrink .container-fluid.main-navbar .navbar-collapse > .navbar-nav > li > a { color: #67be5d; }
  #mainNav.navbar-shrink .navbar-brand { font-size: 1.25em; }
  /* 	#mainNav.navbar-shrink .navbar-brand svg, #mainNav.navbar-shrink .navbar-brand img { height: 1.5rem; } */
  #mainNav .navbar-nav .nav-item { margin-right: 1rem; }
  #mainNav .navbar-nav .nav-item:last-child { margin-right: 0; } }

#top { padding-top: 160px; }

@media screen and (min-width: 768px) { #top { padding-top: 130px; } }

#mainNav #avia2-menu li a { font-size: 11px; text-transform: uppercase; font-weight: bold; }

#mainNav li a { text-transform: uppercase; }

@media (min-width: 992px) { .dropdown-menu .dropdown-toggle:after { border-top: .3em solid transparent; border-right: 0; border-bottom: .3em solid transparent; border-left: .3em solid; }
  .dropdown-menu .dropdown-menu { margin-left: 0; margin-right: 0; }
  .dropdown-menu li { position: relative; }
  .nav-item .submenu { display: none; position: absolute; left: 100%; top: -7px; }
  .nav-item .submenu-left { right: 100%; left: auto; }
  .dropdown-menu > li:hover > .submenu { display: block; } }

.navbar.top-menu { background-color: #67be5d; }

.navbar.top-menu .navbar-nav .dropdown-menu { background-color: #393e39; border-radius: 0; border: 0; }

.navbar.top-menu .navbar-nav .dropdown-menu li, .navbar.top-menu .navbar-nav .dropdown-menu li a { color: #fff; }

.navbar.top-menu .navbar-nav .dropdown-menu li:hover, .navbar.top-menu .navbar-nav .dropdown-menu li a:hover { background-color: #393e39; color: #67be5d; }

.navbar.top-menu .navbar-nav .dropdown-menu .submenu { border-top: 2px solid #67be5d; padding-left: 20px; }

@media screen and (min-width: 768px) { .navbar.top-menu .navbar-nav .dropdown-menu .submenu { padding-left: 0; } }

.navbar.top-menu .navbar-nav li:hover > ul.dropdown-menu { display: block; }

.form-group.form-check label { cursor: pointer; }

.blockquote { padding-left: 20px; font-size: 16px; line-height: 1; border-left: 5px solid #ccc; border-radius: 10px; background: #f5f5f5; padding: 15px; font-style: italic; }

.custom-control-input:checked ~ .custom-control-label::before { color: #fff; border-color: #67be5d; background-color: #67be5d; }

.footer { background-color: #67be5d; text-align: center; font-size: 0.9rem; }

.footer .footer-social-icon-wrapper a { margin: 2px; }

.footer h3 { font-weight: bold; font-size: 16px; color: #fff; margin-bottom: 10px; }

/*# sourceMappingURL=../../../../../maps/2020/December/01-12-2020/1/css/styles.css.map */
