doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title One | Email template!

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/two/style.scss")

        //- embdedded css allowed, but not sass
        
        style
            | @font-face {
            |     font-family: "futura";
            |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot');
            |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot?#iefix') format('embedded-opentype'),
            |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.woff') format('woff'),
            |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.ttf') format('truetype');
            |     font-weight: normal;
            |     font-style: normal;
            | }
            | @media screen and (max-width:576px) {
            include ../../css/screen-and-max-width-576px.css
            | }
        | <!--[if (gte mso 9)|(IE)]>
        | <style type="text/css">
        |     table {border-collapse: collapse;}
        | </style>
        | <![endif]-->
        | <!--[if gte mso 9]>
        | <xml>
        | <o:OfficeDocumentSettings>
        |     <o:AllowPNG/>
        |     <o:PixelsPerInch>96</o:PixelsPerInch>
        | </o:OfficeDocumentSettings>
        | </xml>
        | <![endif]-->
        | <!--[if gt mso 14]>
        | <style type="text/css">
        |     .height_01 {
        |         font-size:1px;
        |         line-height:1px;    
        |     }
        |     /*Windows 10 phone link fix*/
        |     span.MsoHyperlink {
        |         mso-style-priority:100 !important;
        |         color:inherit !important;
        |         text-decoration:none !important;
        |     }    
        | </style>
        | <![endif]-->
        
    body.sc-body-bg
        // Yahoo Wrapper start
        table.wrapper-table.sc-body-bg(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#2e9ebe")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.content-table(cellpadding="0" cellspacing="0" width="640")
                        tbody
                            tr
                                td(valign="top" align="center")
                                    // Header block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Pre headder start
                                            //- include ./_partials/_pre-header.pug
                                            // Pre-header end
                                            // Spacer 30 start
                                            include ../_partials/_spacer20-15.pug
                                            // Spacer 30 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                    tr
                                                        td(valign='top' align='center')
                                                            img(src="../images/002-SC_logo-top.png", alt="SkinCeuticals")
                                            // Spacer 30 start
                                            include ../_partials/_spacer20-15.pug
                                            // Spacer 30 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                    tr
                                                        td.text-white(valign='top' align='center' style="font-size:42px; color: #ffffff; letter-spacing:10px")
                                                            |iAPARTA
                                                            <br/>
                                                            |LA FECHA!

                                            // Spacer 30 start
                                            include ../_partials/_spacer20-15.pug
                                            // Spacer 30 end
                                    // Header block end

                            tr
                                td(valign="top" align="center")
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            