doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Email template | Two

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/two/style.scss")

        //- embdedded css allowed, but not sass
        
        style
            | @font-face {
            |     font-family: "futura";
            |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot');
            |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot?#iefix') format('embedded-opentype'),
            |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.woff') format('woff'),
            |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.ttf') format('truetype');
            |     font-weight: normal;
            |     font-style: normal;
            | }
            | @font-face {
            |     font-family: "futura-lt-bt";
            |     src: url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.eot');
            |     src: url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.eot?#iefix') format('embedded-opentype'),
            |     url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.ttf') format('truetype');
            |     font-weight: normal;
            |     font-style: normal;
            | }
            | @media screen and (max-width:576px) {
            include ../../css/screen-and-max-width-576px.css
            | }
        style.
            body {
                margin: 0px;
                padding: 0px;
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: none !important;
                -ms-text-size-adjust: none !important;
            }

            * {
                line-height: normal;
            }

            a[href^="x-apple-data-detectors:"] {
                color: inherit;
                text-decoration: inherit;
            }

            .spacer {
                line-height: 1px !important;
                font-size: 1px !important;
            }

            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }

            a {
                text-decoration: none;
            }

            div {
                display: inherit;
            }

            .text-white {
                color: #ffffff;
            }

            .text-black {
                color: #010101;
            }
        | <!--[if (gte mso 9)|(IE)]>
        | <style type="text/css">
        |     table {border-collapse: collapse;}
        | </style>
        | <![endif]-->
        | <!--[if gte mso 9]>
        | <xml>
        | <o:OfficeDocumentSettings>
        |     <o:AllowPNG/>
        |     <o:PixelsPerInch>96</o:PixelsPerInch>
        | </o:OfficeDocumentSettings>
        | </xml>
        | <![endif]-->
        | <!--[if gt mso 14]>
        | <style type="text/css">
        |     .height_01 {
        |         font-size:1px;
        |         line-height:1px;    
        |     }
        |     /*Windows 10 phone link fix*/
        |     span.MsoHyperlink {
        |         mso-style-priority:100 !important;
        |         color:inherit !important;
        |         text-decoration:none !important;
        |     }    
        | </style>
        | <![endif]-->
        
    body.sc-body-bg
        // Yahoo Wrapper start
        table.wrapper-table.sc-body-bg(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#2e9ebe")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.content-table(cellpadding="0" cellspacing="0" width="640")
                        tbody
                            tr
                                td(valign="top" align="center")
                                    <!-- Header block start -->
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Pre headder start
                                            //- include ./_partials/_pre-header.pug
                                            // Pre-header end
                                            // Spacer 30 start
                                            include ../_partials/_spacer20-15.pug
                                            // Spacer 30 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                    tr
                                                        td(valign='top' align='center')
                                                            img(src="../images/002-SC_logo-top.png", alt="SkinCeuticals")
                                            // Spacer 30 start
                                            include ../_partials/_spacer20-15.pug
                                            // Spacer 30 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                    tr
                                                        td.text-white.fz-mob-25(valign='top' align='center' style="font-size:42px; color: #ffffff; letter-spacing:10px")
                                                            |iAPARTA
                                                            <br/>
                                                            |LA FECHA!
                                            // Spacer 30 start
                                            include ../_partials/_spacer20-15.pug
                                            // Spacer 30 end
                                    // Header block end
                                    // Timer block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                include ./_partials/_rounded-lightblue-block-top.pug
                                                                                tr
                                                                                    td(valign='top' align='center' colspan="3")
                                                                                        table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                            tr
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                                td.rounded-5.px-10.p-mob-5.bg-lightblue.text-darkblue.text-center.fz-mob-40(bgcolor="#c9e4e7" align="center" style="font-size:70px; color: #2e9ebe;")
                                                                                                    |0
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                include ./_partials/_rounded-lightblue-block-bottom.pug
                                                                        td(valign='top' align='center' width="10")
                                                                        td(valign='top' align='center')
                                                                            table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                include ./_partials/_rounded-lightblue-block-top.pug
                                                                                tr
                                                                                    td(valign='top' align='center' colspan="3")
                                                                                        table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                            tr
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                                td.rounded-5.px-10.p-mob-5.bg-lightblue.text-darkblue.text-center.fz-mob-40(bgcolor="#c9e4e7" align="center" style="font-size:70px; color: #2e9ebe;")
                                                                                                    |8
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                include ./_partials/_rounded-lightblue-block-bottom.pug
                                                            td(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td.hide(valign='top' align='center' width="14")
                                                                        td.px-mob-10(valign='middle' align='center' width="")
                                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                                tr
                                                                                    td(valign="middle" align="center")
                                                                                        img(src="../images/002-white-timer-dot-seperator.png", alt="")
                                                                        td.hide(valign='top' align='center' width="14")
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                include ./_partials/_rounded-lightblue-block-top.pug
                                                                                tr
                                                                                    td(valign='top' align='center' colspan="3")
                                                                                        table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                            tr
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                                td.rounded-5.px-10.p-mob-5.bg-lightblue.text-darkblue.text-center.fz-mob-40(bgcolor="#c9e4e7" align="center" style="font-size:70px; color: #2e9ebe;")
                                                                                                    |0
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                include ./_partials/_rounded-lightblue-block-bottom.pug
                                                                        td(valign='top' align='center' width="10")
                                                                        td(valign='top' align='center')
                                                                            table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                include ./_partials/_rounded-lightblue-block-top.pug
                                                                                tr
                                                                                    td(valign='top' align='center' colspan="3")
                                                                                        table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                            tr
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                                td.rounded-5.px-10.p-mob-5.bg-lightblue.text-darkblue.text-center.fz-mob-40(bgcolor="#c9e4e7" align="center" style="font-size:70px; color: #2e9ebe;")
                                                                                                    |8
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                include ./_partials/_rounded-lightblue-block-bottom.pug
                                                            td(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td.hide(valign='top' align='center' width="14")
                                                                        td.px-mob-10(valign='middle' align='center' width="")
                                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                                tr
                                                                                    td(valign="middle" align="center")
                                                                                        img(src="../images/002-white-timer-dot-seperator.png", alt="")
                                                                        td.hide(valign='top' align='center' width="14")
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                include ./_partials/_rounded-lightblue-block-top.pug
                                                                                tr
                                                                                    td(valign='top' align='center' colspan="3")
                                                                                        table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                            tr
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                                td.rounded-5.px-10.p-mob-5.bg-lightblue.text-darkblue.text-center.fz-mob-40(bgcolor="#c9e4e7" align="center" style="font-size:70px; color: #2e9ebe;")
                                                                                                    |0
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                include ./_partials/_rounded-lightblue-block-bottom.pug
                                                                        td(valign='top' align='center' width="10")
                                                                        td(valign='top' align='center')
                                                                            table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                include ./_partials/_rounded-lightblue-block-top.pug
                                                                                tr
                                                                                    td(valign='top' align='center' colspan="3")
                                                                                        table.autowidth.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="66")
                                                                                            tr
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                                td.rounded-5.px-10.p-mob-5.bg-lightblue.text-darkblue.text-center.fz-mob-40(bgcolor="#c9e4e7" align="center" style="font-size:70px; color: #2e9ebe;")
                                                                                                    |8
                                                                                                td.hide(valign="top" bgcolor="#9bcfdb" style="font-size:1px; line-height:1px; background-color:#9bcfdb;" width="1")
                                                                                                    |&nbsp;
                                                                                include ./_partials/_rounded-lightblue-block-bottom.pug
                                                            
                                                        tr
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td.p-15.p-mob-5.text-white(valign="top" align="center" colspan="3" style="font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif; color: #ffffff; padding-top:10px; padding-right: 10px; padding-bottom-10px; padding-left:10px;")
                                                                            |DÍAS
                                                            td(valign="top" align="center")
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td.p-15.p-mob-5.text-white(valign="top" align="center" colspan="3" style="font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif; color: #ffffff; padding-top:10px; padding-right: 10px; padding-bottom-10px; padding-left:10px;")
                                                                            |HORAS
                                                            td(valign="top" align="center")
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                    tr
                                                                        td.p-15.p-mob-5.text-white(valign="top" align="center" colspan="3" style="font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif; color: #ffffff; padding-top:10px; padding-right: 10px; padding-bottom-10px; padding-left:10px;")
                                                                            |MINUTOS
                                    // Timer block end
                                    // Content block 01 start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center.autowidth.p-mob-20(border='0' cellspacing='0' cellpadding='0' align='center' width="520")
                                                        include ../_partials/_spacer15.pug
                                                        tr
                                                            td.text-white(valign='top' align='center' style="font-size:18px; color: #ffffff; font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif;").
                                                                A Partir del <strong>5 de noviembre</strong> podrás conseguir tus productos favoritos de SkinCeuticals hasta donde estés y sin salir de casa, con nuestra <strong>nueva tienda online.</strong>
                                                        include ../_partials/_spacer15.pug
                                                        tr
                                                            td.text-white(valign='top' align='center' style="font-size:18px; color: #ffffff; font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif;").
                                                                <strong>¿Te emociona?</strong> ¡A nosotros también!
                                                        include ../_partials/_spacer5.pug
                                    // Content block 01 end
                                    // Product block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="552")
                                                        tr
                                                        <!--[if !mso]><!-->
                                                            td.coldrop(valign="top" align="center")
                                                                div(class="show" style="display: none; font-size: 0; max-height: 0; width:0px; line-height: 0; padding: 0;mso-hide: all; overflow:hidden;")
                                                                    //mobile codes goes here
                                                                    img(src="../images/002-transparent-product-sc-01.png", alt="")
                                                        <!--<![endif]-->
                                                            td.hide(valign="top" align="center")
                                                                img(src="../images/002-product-sc-01.png", alt="")
                                                            td.coldrop(valign="top" align="center")
                                                                table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                tr.hide
                                                                                    td(valign='top' align='center' height="62")
                                                                                <!--[if !mso]><!-->
                                                                                    td.coldrop(valign="top" align="center")
                                                                                        div(class="show" style="display: none; font-size: 0; max-height: 0; width:0px; line-height: 0; padding: 0;mso-hide: all; overflow:hidden;")
                                                                                            //mobile codes goes here
                                                                                            table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                include ../_partials/_spacer15.pug
                                                                                <!--<![endif]-->
                                                                                tr
                                                                                    td(valign='top' align='center')
                                                                                        table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                            tr
                                                                                                td(valign='top' align='center')
                                                                                                    table.contents(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                        tr
                                                                                                            td.pr-10.p-mob-10.rounded-top-10(valign='middle' align='center' height="35" bgcolor="#c9e4e7")
                                                                                                                |¡OBTÉN ACCESO ANTES QUE NADIE!
                                                                                                        tr
                                                                                                            td.autoheight.p-mob-15.rounded-bottom-10(valign='middle' align='left' height="112" bgcolor="#ffffff").
                                                                                                                Al seguirnos en redes sociales serás de las primeras personas en la fila para conocer el nuevo sitio. <br>
                                                                                                                <strong> ¡Que no te ganen tu lugar! </strong>

                                                                                                td.hide(valign='top' width="40")
                                                                                                    table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                        tr
                                                                                                            td(valign='top' align='center' height="17" bgcolor="#2e9ebe")
                                                                                                        tr
                                                                                                            td(valign='top' align='center' height="18")
                                                                                                                table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                                    tr
                                                                                                                        td.spacer.rounded-10-top-right(valign='top' align='center' width="30" height="18" bgcolor="#ffffff")
                                                                                                                            |&nbsp;
                                                                                                                        td.spacer.hide(valign='top' width="10")
                                                                                                                            table(border='0' cellspacing='0' cellpadding='0' width="10")
                                                                                                                                tr
                                                                                                                                    td.spacer(valign="top" align="right")
                                                                                                                                        img(src="../images/002-10px-white-rnd-crnr-top-right.png", alt="")
                                                                                                                                tr
                                                                                                                                    td.spacer(valign="top" height="8" bgcolor="#ffffff")
                                                                                                                                        |&nbsp;
                                                                                                        tr
                                                                                                            td(valign='top' align='center' height="102" bgcolor="#ffffff")
                                                                                                                |&nbsp;
                                                                                                        tr
                                                                                                            td(valign='top' align='center')
                                                                                                                table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                                    tr
                                                                                                                        td.spacer.rounded-10-top-right(valign='top' align='center' width="30" height="10" bgcolor="#ffffff")
                                                                                                                            |&nbsp;
                                                                                                                        td.spacer.hide(valign='top' width="10")
                                                                                                                            table(border='0' cellspacing='0' cellpadding='0' width="10")
                                                                                                                                tr
                                                                                                                                    td.spacer(valign="top" align="right")
                                                                                                                                        img(src="../images/002-10px-white-rnd-crnr-bottom-right.png", alt="")
                                    // Product block end
                                    // Social media buttons block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    table.full-width(width="640" border="0" cellspacing="0" cellpadding="0")
                                                        tbody
                                                            <!--[if !mso]><!-->
                                                            tr
                                                                td.coldrop(valign="top" align="center")
                                                                    div(class="show" style="display: none; font-size: 0; max-height: 0; width:0px; line-height: 0; padding: 0;mso-hide: all; overflow:hidden;")
                                                                        //mobile codes goes here
                                                                        table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                            include ../_partials/_spacer15.pug
                                                            <!--<![endif]-->
                                                            tr
                                                                // Image block Background start
                                                                td.autoheight.full-width.p-mob-15(bgcolor="#2e9ebe" class="bg-responsive" style="background-image: url(https://kathirr007.github.io/Email-workflow-Dev/images/002-bottom-bg-image.jpg);" background="https://kathirr007.github.io/Email-workflow-Dev/images/002-bottom-bg-image.jpg" width="640" height="239" valign="middle" align="center")
                                                                    <!--[if gte mso 9]><v:rect style="width: 640px; height: 40px;" strokecolor="none"><v:fill type="tile" color="#2e9ebe" src="https://kathirr007.github.io/Email-workflow-Dev/images/002-bottom-bg-image.jpg"></v:fill></v:rect><v:shape id="theText" style="position: absolute; width: 640px; height: 40px;"><![endif]-->
                                                                    table.full-width(width="640" border="0" cellspacing="0" cellpadding="0")
                                                                        tr
                                                                            // Content inside background start
                                                                            td(valign='top' align='center')
                                                                                table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="260")
                                                                                    tr
                                                                                        td(valign="middle" align="center")
                                                                                            a(href="https://www.sample.link" target="_blank")
                                                                                                img.imgfull(src="../images/002-facebook-cta.png" alt="Facebook CTA")
                                                                                    include ../_partials/_spacer20.pug
                                                                                    tr
                                                                                        td(valign="middle" align="center")
                                                                                            a(href="https://www.sample.link" target="_blank")
                                                                                                img.imgfull(src="../images/002-instagram-cta.png" alt="Instagram CTA")
                                                                                    include ../_partials/_spacer20.pug
                                                                                    tr
                                                                                        td(valign="middle" align="center" target="_blank")
                                                                                            a(href="https://www.sample.link")
                                                                                                img.imgfull(src="../images/002-youtube-cta.png" alt="Youtube CTA")
                                                                                    include ../_partials/_spacer30.pug
                                                                            // Content inside background end
                                                                    <!--[if gte mso 9]></v:shape><![endif]-->
                                                                // Image block Background end
                                    // Social media buttons block end
                                    // Footer block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    table.full-width.p-mob-15(width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#343434")
                                                        tr.hide
                                                            include ../_partials/_height30.pug
                                                        tr
                                                            td.text-white(valign='middle' align='center' style="font-size: 10px; color: #ffffff;").
                                                                © 2019 SkinCeuticals México.<br>
                                                                Félix Cuevas No. 6, Tlacoquemecatl del Valle, 03200<br>
                                                                Recibiste este correo porque estás suscrito a nuestro newsletter
                                                                Desuscribirse
                                                        tr
                                                            include ../_partials/_height15.pug
                                                        tr
                                                            td.text-white(valign='middle' align='center' style="font-size: 10px; color: #ffffff;").
                                                                Recibiste este correo porque estás suscrito a nuestro newsletter<br>
                                                                <a href="https://www.samplelink.com" class="text-decoration-underline" style="text-decoration: underline; color:#ffffff">Desuscribirse</a>
                                                        tr.hide
                                                            include ../_partials/_height15.pug
                                                        tr
                                                            include ../_partials/_height15.pug
                                                        tr
                                                            td(valign='top' align='center')
                                                                table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            img(src="../images/002-SC_logo-top.png", alt="SkinCeuticals")
                                                        tr.hide
                                                            include ../_partials/_height30.pug
                                    // Footer block end