table.align-center(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        tr
            td(valign="top" align="center")
                table(cellpadding="0" cellspacing="0" border="0" align="center" style="min-width:150px;")
                    tr
                        td.bg-darkgray(valign="top" align="center" style="font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; font-family: 'futura', Arial, Helvetica, sans-serif; text-align: center; font-weight: bold; border-radius:3px;" bgcolor="#424242")
                            a.text-white.py-10.px-30.py-mob-10(href="https://www.samplelink.com" target="_blank" style="display: block; font-family: 'futura', Arial, Helvetica, sans-serif; font-size:20px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none; border: 0px solid #424242; border-radius: 3px;")
                                |CTA