table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Hero header block start
            table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                    td(valign="top" align="center")
                        // Spacer 8 contentarea block start
                        include ../../_partials/_spacer8-block.pug
                        // Spacer 8 contentarea block end
                        // Hero header block end
                        // Hero banner block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    // Background Image block start
                                    td.autoheight.full-width.py-mob-15.bg-responsive.hero-bg(background="images/hero-bg.png" bgcolor="#6d777e" width="650" height="437" valign="middle" align="center" style="background: url(images/hero-bg.png); background-repeat: no-repeat;")
                                        |<!--[if gte mso 9]>
                                        |<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:650px;height:437px;">
                                        |    <v:fill type="tile" src="images/hero-bg.png" color="#6d777e" />
                                        |    <v:textbox inset="0,0,0,0">
                                        |<![endif]-->
                                        div
                                            // Content inside background start
                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                tbody
                                                    tr
                                                        td.autoheight.full-width(width="560" height="437" valign="middle" align="center")
                                                            table.full-width(width="100%" border="0" cellspacing="0" cellpadding="0")
                                                                tr
                                                                    td.coldrop(valign="middle" align="center" width="150")
                                                                        table.full-width(width="" border="0" cellspacing="0" cellpadding="0" align="center")
                                                                            tr
                                                                                td(valign="middle" align="center")
                                                                                    a(href="https://www.samplelink.com" target="_blank")
                                                                                        img(src="images/hero-prod-img.png", alt="Blemish + Age Defense")
                                                                    td.coldrop(valign='middle' align='center' width="410")
                                                                        // Spacer 18 contentarea block start
                                                                        include ../../_partials/_spacer18-block.pug
                                                                        // Spacer 18 contentarea block end
                                                                        table.align-center.full(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                            tbody
                                                                                tr
                                                                                    td(valign='middle' align='center')
                                                                                        table.full-width.px-mob-15.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="370")
                                                                                            tr
                                                                                                td.text-white.fz-mob-22.fb-font(valign='top' align='center' style="font-family: 'futura', Arial, Helvetica, sans-serif; font-size:32px; color: #424242; letter-spacing:2px").
                                                                                                    ¿DISFRUTANDO DE TU PRODUCTO?
                                                                                            include ../../_partials/_spacer15.pug
                                                                                            tr
                                                                                                td(valign='top' align='center')
                                                                                                    // Hero CTA block start
                                                                                                    include ./_hero-cta.pug
                                                                                                    // Hero CTA block end
                                                                        // Spacer 10 contentarea block start
                                                                        include ../../_partials/_spacer10-block.pug
                                                                        // Spacer 10 contentarea block end
                                            // Content inside background end
                                        |<!--[if gte mso 9]>
                                        |    </v:textbox>
                                        |</v:rect>
                                        |<![endif]-->
                                    // Background Image block end
                        // Hero banner block end