table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        tr
            td.px-mob-15(valign='top' align='center')
                table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="570")
                    // Spacer 10 start
                    include ../../_partials/_spacer10.pug
                    // Spacer 10 end
                    tr
                        td.bg-lightgray.coldrop.py-15.px-30(valign="top" align="center" bgcolor="#f2f2f2")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                tr
                                    td(valign='top')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="left" style="font-size:12px; color: #8b8b8c; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        HIDRATACIÓN
                                                include ../../_partials/_spacer5.pug
                                                tr
                                                    td.text-darkblue.fb-font.fz-mob-16.text-center.ls-1(valign='top' align="left" style="font-size:18px; color: #010101; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        NOMBRE PRODUCTO
                                                include ../../_partials/_spacer10.pug
                                                tr
                                                    td.text-black.fb-font.text-center(valign='top' align="left" style="font-size:14px; color: #010101; font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
                                                include ../../_partials/_spacer15.pug
                                                tr
                                                    td(valign='top' align="left")
                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                            tbody
                                                                tr
                                                                    td(valign='top' align="center")
                                                                        table.full(cellpadding="0" cellspacing="0" border="0")
                                                                            tbody
                                                                                tr
                                                                                    td(valign="middle" align="center")
                                                                                        img(src="images/prod-img-02.jpg", alt="")
                                                                                include ../../_partials/_spacer15.pug
                                                                                tr
                                                                                    td(valign="top" align="center")
                                                                                        // CTA start
                                                                                        include ./_darkgray-cta-02.pug
                                                                                        // CTA end
                        td.coldrop.spacer(valign="top" align="center" width="10" height="10")
                            |&nbsp;
                        td.bg-lightgray.coldrop.py-15.px-30(valign="top" align="center" bgcolor="#f2f2f2")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                tr
                                    td(valign='top')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="left" style="font-size:12px; color: #8b8b8c; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        HIDRATACIÓN
                                                include ../../_partials/_spacer5.pug
                                                tr
                                                    td.text-darkblue.fb-font.fz-mob-16.text-center.ls-1(valign='top' align="left" style="font-size:18px; color: #010101; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        NOMBRE PRODUCTO
                                                include ../../_partials/_spacer10.pug
                                                tr
                                                    td.text-black.fb-font.text-center(valign='top' align="left" style="font-size:14px; color: #010101; font-family:'futura-lt-bt', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
                                                include ../../_partials/_spacer15.pug
                                                tr
                                                    td(valign='top' align="left")
                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                            tbody
                                                                tr
                                                                    td(valign='top' align="center")
                                                                        table.full(cellpadding="0" cellspacing="0" border="0")
                                                                            tbody
                                                                                tr
                                                                                    td(valign="middle" align="center")
                                                                                        img(src="images/prod-img-02.jpg", alt="")
                                                                                include ../../_partials/_spacer15.pug
                                                                                tr
                                                                                    td(valign="top" align="center")
                                                                                        // CTA start
                                                                                        include ./_darkgray-cta-02.pug
                                                                                        // CTA end
                    // Spacer 40 start
                    include ../../_partials/_spacer40.pug
                    // Spacer 40 end