table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Spacer 20 content area start
            include ../../_partials/_spacer20-block.pug
            // Spacer 20 content area end
            // Product block start
            table.full.px-mob-15(cellpadding="0" cellspacing="0" width="530")
                tbody
                    tr
                        td.coldrop.bg-lightwhite-02.p-25.p-mob-20(valign="middle" align="center" width="252" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;" bgcolor="#eeeeee")
                            table(cellpadding="0" cellspacing="0" width="100%")
                                tr
                                    td.fwb(valign="top" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |DIRECCIÓN DE FACTURACIÓN
                                include ../../_partials/_spacer15.pug
                                tr
                                    td(valign="top" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;").
                                        Chrystelle Fralonardo<br />
                                        Félix Cuevas<br />
                                        Ciudad de México,  Ciudad de Mexico  03200<br />
                                        Mexico<br />
                                        5545881038
                        td.coldrop(valign="top" width="26" height="20")
                        td.coldrop.bg-lightwhite-02.p-25.p-mob-20(valign="middle" align="center" width="252" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;" bgcolor="#eeeeee")
                            table(cellpadding="0" cellspacing="0" width="100%")
                                tr
                                    td.fwb(valign="top" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |DIRECCIÓN DE ENVÍO
                                include ../../_partials/_spacer15.pug
                                tr
                                    td(valign="top" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;").
                                        Chrystelle Fralonardo<br />
                                        Félix Cuevas<br />
                                        Ciudad de México,  Ciudad de Mexico  03200<br />
                                        Mexico<br />
                                        5545881038

            // Product block end
            // Spacer 20 content area start
            include ../../_partials/_spacer20-block.pug
            // Spacer 20 content area end