table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            table.full.px-mob-15(cellspacing="0" cellpadding="0" border="0" width="560")
                tr
                    td(valign="top" align="center")
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end
                        // Hero content block start
                        table.full(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td.text-darkblue.fb-font.fz-mob-26(valign='top' align="left" style="font-size:32px; font-family: Arial, Helvetica, sans-serif;").
                                        GRACIAS POR TU COMPRA
                                include ../../_partials/_spacer25.pug
                                tr
                                    td.fb-font(valign='top' align="left" style="font-size:16px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        Estimad@ Chrystelle Fralonardo <br />
                                        <br />
                                        ¡Gracias por tu compra de SkinCeuticals! Tu número de pedido es SCMX00000002.<br />
                                        <br />
                                        Te informaremos por correo electrónico cuando tu pedido se envíe<br />
                                        <br />
                                        Si tienes alguna duda sobre tu pedido, nos puedes contactar al 01 800 300 7546 o mandarnos un correo electrónico a <a href="mailto:centroatencion@latam.skinceuticals.com" target="_blank" style="color:#010101; font-size:16px; word-break: break-all;">centroatencion@latam.skinceuticals.com.!</a><br />
                                        <br />
                                        <span class="fwb" style="font-size:16px;">Atención al cliente de SkinCeuticals</span>
                        // Hero content block end
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end