table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Footer navigation contentares start
            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                tbody
                    tr
                        td(valign="top" align="center")
                            // Spacer 20 contentarea start
                            include ../../_partials/_spacer20-block.pug
                            // Spacer 20 contentarea end
                            // Footer navigation contents start
                            table.full-width.px-mob-15(width="560" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td.spacer.bg-darkblue(valign="top" align="center" height="1" width="100%" bgcolor="#2e9ebe")
                                        |&nbsp;
                                // Spacer 15 start
                                include ../../_partials/_spacer15.pug
                                // Spacer 15 end
                                tr
                                    td(valign='top' align='center')
                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                            tr
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/facebook-icon.png", alt="Facebook")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |@SkinCeuticalsMX
                                                td.spacer.coldrop(valign="top" width="25" height="20")
                                                    |&nbsp;
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/instagram-icon.png", alt="Instagram")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |@SkinCeuticalsMX
                                                td.spacer.coldrop(valign="top" width="25" height="20")
                                                    |&nbsp;
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/youtube-icon.png", alt="Youtube")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |SkinCeuticals México
                            // Footer navigation contents end
                            // Spacer 20 contentarea start
                            include ../../_partials/_spacer20-block.pug
                            // Spacer 20 contentarea end
            // Footer navigation contentares end