table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Product block start
            table.content-table(cellpadding="0" cellspacing="0" width="524")
                tbody
                    tr
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101; border-bottom: 1px solid #c4c4c4;")
                            |Img
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101; border-bottom: 1px solid #c4c4c4;")
                            |Producto
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101; border-bottom: 1px solid #c4c4c4;")
                            |Cantidad
                        td.p-15.p-mob-10(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101; border-bottom: 1px solid #c4c4c4;")
                            |Subtotal
                    tr
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            img(src="images/prod-img-01.png", alt="")
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            |Phlorentin CF - 30ml					
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            |1
                        td.p-15.p-mob-10.fwb(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            |$1500
                    tr
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            img(src="images/prod-img-01.png", alt="")
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="left" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            |Phlorentin CF - 30ml					
                        td.px-30.py-15.px-mob-15.py-mob-10(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            |1
                        td.p-15.p-mob-10.fwb(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            |$1500
            // Product block end
            // Spacer 20 content area start
            include ../../_partials/_spacer20-block.pug
            // Spacer 20 content area end
            // Product pricing overview block start
            table.full(cellpadding="0" cellspacing="0" width="524")
                tbody
                    tr
                        td.pr-15.px-mob-15(valign="middle" align="center" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                            table(cellpadding="0" cellspacing="0" width="" align="right")
                                tr
                                    td.fwb(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |Subtotal
                                    td(valign="middle" width="20")
                                    td(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |$324.95
                                tr
                                    td.fwb(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |Shipping &amp; Handling
                                    td(valign="middle" width="20")
                                    td(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |$0.00
                                tr
                                    td.fwb(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |DISCOUNT
                                    td(valign="middle" width="20")
                                    td(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |-$40.98
                                tr
                                    td.fwb(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |Grand Total (Incl.Tax)
                                    td(valign="middle" width="20")
                                    td(valign="middle" align="right" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #010101;")
                                        |$335.96
            // Product pricing overview block end
            // Spacer 20 content area start
            include ../../_partials/_spacer20-block.pug
            // Spacer 20 content area end