doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Killbill Invoice

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/19/style.scss")

        //- embdedded css allowed, but not sass
        
        include ../_partials/_mobile-styles.pug
        include ../_partials/_internal-and-conditional-styles.pug
        
    body.bg-white
        // Yahoo Wrapper start
        table.wrapper-table.bg-white(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.full(cellpadding="0" cellspacing="0" width="800")
                        tbody
                            tr
                                include ../_partials/_height15.pug
                            tr
                                td.border-mob-none(valign="top" align="center" style="border: 1px solid #cccccc;")
                                    table(cellpadding="0" cellspacing="0" width="100%")
                                        tr
                                            td(valign="top" align="center")
                                                // Header block start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Pre headder start
                                                        //- include ./_partials/_pre-header.pug
                                                        // Pre-header end
                                                        tr
                                                            td(valign="top" align="center")
                                                                // Header title block start
                                                                table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                    tbody
                                                                        // Spacer 30 start
                                                                        include ../_partials/_spacer15.pug
                                                                        // Spacer 30 end
                                                                        tr
                                                                            td.text-center(valign='top' align='center')
                                                                                table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="570")
                                                                                    tr
                                                                                        td.pl-30.p-mob-0(valign='middle' align='left' style="font-size: 24px; font-weight: bold") Baumit. 
                                                                                            span.text-red(style="font-size: 24px; color: #df0b25;") Ideen mit Zukunft.
                                                                                        td(valign='top' align='right' width="100")
                                                                                            img(src="https://go.baumit.com/l/1011941/2023-01-16/52f2m8/1011941/1673869294yz6jGV4A/baumit_logo.jpg", alt="Logo" width="100" height="auto")
                                                                        // Spacer 30 start
                                                                        include ../_partials/_spacer15.pug
                                                                        // Spacer 30 end
                                                                // Header title block end
                                                // Header block end
                                                // Hero block text start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Spacer 20 start
                                                        //- include ../_partials/_spacer15.pug
                                                        // Spacer 20 end
                                                        tr
                                                            td(valign='top' bgcolor="#0cb8c2" align='center')
                                                                img.imgfull(src="https://storage.pardot.com/1011941/16861120662Negz8c8/2023_06_recycling_service_header.jpg", alt="Recycling Service")
                                                // Hero block text end
                                                // Promo content start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        tr
                                                            td.px-mob-20(valign="top" align="center")
                                                                table.full(cellpadding="0" cellspacing="0" border="0" width="540" align="center")
                                                                    tbody
                                                                        // Spacer 30 start
                                                                        include ../_partials/_spacer30.pug
                                                                        // Spacer 30 end
                                                                        tr
                                                                            td(valign='top' align='left' style="font-size:20px; color: #010101; Arial, Helvetica, sans-serif; font-weight: bold;").
                                                                                Sehr geehrte Damen und Herren!
                                                                        // Spacer 16 start
                                                                        include ../_partials/_spacer16.pug
                                                                        // Spacer 16 end
                                                                        tr
                                                                            td(valign='top' align='left' style="font-size:14px; color: #7d7c7c;  line-height: 22px").
                                                                                Sie kennen bereits das strgon <strong>Austrotherm Recycling Service,</strong> das es Ihnen ermöglicht, mit sauberen Baustellenverschnitten von Austrotherm XPS® zum Klimaschutz beizutragen. Firma Austrotherm ist stolz darauf, dass sie durch dieses Recycling-Programm Ressourcen schonen und neue Dämmplatten herstellen können.
                                                                        // Spacer 20 start
                                                                        include ../_partials/_spacer20.pug
                                                                        // Spacer 20 end
                                                                        tr
                                                                            td(valign='top' align='left' style="font-size:14px; color: #7d7c7c;  line-height: 22px").
                                                                                Und jetzt haben wir für Sie eine tolle Neuigkeit: bis August gibt es die <strong>Austrotherm Recycling Service Aktion!</strong> Sammeln Sie Austrotherm XPS Verschnitte und erhalten Sie als Dankeschön für Ihre Teilnahme ein Geschenk.
                                                                        // Spacer 20 start
                                                                        include ../_partials/_spacer20.pug
                                                                        // Spacer 20 end
                                                                        tr
                                                                            td(valign='top' align='left' style="font-size:14px; color: #7d7c7c;  line-height: 22px").
                                                                                Es war nie einfacher, Klimaschutz in die Tat umzusetzen und gleichzeitig vom Austrotherm Recycling Service zu profitieren.
                                                                        // Spacer 40-25 start
                                                                        tr
                                                                            td 
                                                                                include ../_partials/_spacer-40-25.pug
                                                                        // Spacer 40-25 end
                                                // Promo content end
                                                // Product block 01 start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        tr
                                                            td(valign='top' align='center')
                                                                table.align-center.autowidth.px-mob-20(border='0' cellspacing='0' cellpadding='0' align='center' width="568")
                                                                    tr 
                                                                        td.px-20.py-15.p-mob-15.text-white(bgcolor="#df0b25" align="center" style="font-size: 18px;").
                                                                            Die Austrotherm Recycling Service Aktion - So geht's:
                                                                    // Spacer 40 start
                                                                    include ../_partials/_spacer40.pug
                                                                    // Spacer 40 end
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.coldrop(valign="middle" align="center" width="180" )
                                                                                        table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                            tr
                                                                                                td(valign="middle" align="center")
                                                                                                    img.imgfull(src="https://go.baumit.com/l/1011941/2023-06-07/52mx7c/1011941/16861125854KJz6L6o/2023_06_recycling_service_01.jpg", alt="" width="100%" height="auto")
                                                                                    td.coldrop(valign="top" align="center" width="35" height="20")
                                                                                        |&nbsp;
                                                                                    td.coldrop(valign="middle" align="center")
                                                                                        table.align-center.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="300")
                                                                                            tr
                                                                                                td(valign='top')
                                                                                                    // CTA start
                                                                                                    include ./_partials/_darkred-cta.pug
                                                                                                        a.text-white.py-10.px-20.p-10(href="https://go.baumit.com/l/1011941/2023-06-07/52mx78/1011941/1686112424KUMj9Ci4/2023_06_recycling_service.pdf" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                                                                                            span.text-white(style="font-size:16px; color: #ffffff;")
                                                                                                                |Jetzt Informieren
                                                                                                    // CTA end
                                                                    // Spacer 25 start
                                                                    include ../_partials/_spacer25.pug
                                                                    // Spacer 25 end
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.coldrop(valign="middle" align="center" width="180" )
                                                                                        table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                            tr
                                                                                                td(valign="middle" align="center")
                                                                                                    img.imgfull(src="https://go.baumit.com/l/1011941/2023-06-07/52mx7g/1011941/16861125975ppdaGRB/2023_06_recycling_service_02.jpg", alt="" width="100%" height="auto")
                                                                                    td.coldrop(valign="top" align="center" width="35" height="20")
                                                                                        |&nbsp;
                                                                                    td.coldrop(valign="middle" align="center")
                                                                                        table.align-center.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="300")
                                                                                            tr
                                                                                                td(valign='top')
                                                                                                    // CTA start
                                                                                                    //- include ./_partials/_darkred-cta-2.pug
                                                                                                    include ./_partials/_darkred-cta.pug
                                                                                                        a.text-white.py-10.px-20.p-10(href="https://www.austrotherm.at/unternehmen/recycling/austrotherm-recycling-service/austrotherm-recycling-sack" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                                                                                            span.text-white(style="font-size:16px; color: #ffffff;")
                                                                                                                |Säcke kostenlos bestellen
                                                                                                    // CTA end
                                                                    // Spacer 25 start
                                                                    include ../_partials/_spacer25.pug
                                                                    // Spacer 25 end
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.coldrop(valign="middle" align="center" width="180" )
                                                                                        table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                            tr
                                                                                                td(valign="middle" align="center")
                                                                                                    img.imgfull(src="https://go.baumit.com/l/1011941/2023-06-07/52mx7k/1011941/16861126063C2NkNIH/2023_06_recycling_service_03.jpg", alt="" width="100%" height="auto")
                                                                                    td.coldrop(valign="top" align="center" width="35" height="20")
                                                                                        |&nbsp;
                                                                                    td.coldrop(valign="middle" align="center")
                                                                                        table.align-center.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="300")
                                                                                            tr
                                                                                                td(valign='top')
                                                                                                    // CTA start
                                                                                                    //- include ./_partials/_darkred-cta-3.pug
                                                                                                    include ./_partials/_darkred-cta.pug
                                                                                                        a.text-white.py-10.px-20.p-10(href="https://www.austrotherm.at/abholservice" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                                                                                            span.text-white(style="font-size:16px; color: #ffffff;")
                                                                                                                |Abholung kostenlos bestellen
                                                                                                    // CTA end
                                                                    // Spacer 25 start
                                                                    include ../_partials/_spacer25.pug
                                                                    // Spacer 25 end
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.coldrop(valign="middle" align="center" width="180" )
                                                                                        table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                            tr
                                                                                                td(valign="middle" align="center")
                                                                                                    img.imgfull(src="https://go.baumit.com/l/1011941/2023-06-07/52mx7n/1011941/1686112616FsIEYKOh/2023_06_recycling_service_04.jpg", alt="" width="100%" height="auto")
                                                                                    td.coldrop(valign="top" align="center" width="35" height="20")
                                                                                        |&nbsp;
                                                                                    td.coldrop(valign="middle" align="center")
                                                                                        table.align-center.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="300")
                                                                                            tr
                                                                                                td(valign='top' style="font-size: 12px; line-height: 24px; color: #666666").
                                                                                                    *Nur in Österreich, Aktionszeitraum März - August 2023
                                                                                                    Austrotherm GmbH, Friedrich Schmid-Straße 165,
                                                                                                    2754 Waldegg, www.austrotherm.com, Feb. 2023
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                // Product block 01 end
                                                // Footer CTA start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                table.contents(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                                                                    tbody
                                                                        tr
                                                                            td.px-mob-15(valign='top' align='center' bgcolor="#f2f2f2")
                                                                                table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                    tbody
                                                                                        // Spacer 40 start
                                                                                        include ../_partials/_spacer40.pug
                                                                                        // Spacer 40 end
                                                                                        tr
                                                                                            td.px-mob-15(valign='top' align='center' style="font-size:20px;")
                                                                                                // CTA start
                                                                                                include ./_partials/_darkred-cta.pug
                                                                                                    a.text-white.p-20(href="https://go.baumit.com/l/1011941/2023-06-07/52mx78/1011941/1686112424KUMj9Ci4/2023_06_recycling_service.pdf" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                                                                                        span.text-white(style="font-size:16px; color: #ffffff;")
                                                                                                            |Jetzt Informieren
                                                                                                // CTA end
                                                                                        // Spacer 40 start
                                                                                        include ../_partials/_spacer40.pug
                                                                                        // Spacer 40 end
                                                                                
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                // Footer CTA end
                                                // Footer start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                    tbody
                                                        // Spacer 40 start
                                                        include ../_partials/_spacer40.pug
                                                        // Spacer 40 end
                                                        // Spacer 10 start
                                                        include ../_partials/_spacer10.pug
                                                        // Spacer 10 end
                                                        tr
                                                            td(valign='top' align='center')
                                                                table.contents(cellpadding="0" cellspacing="0" border="0" align="center" width="500")
                                                                    tbody
                                                                        tr
                                                                            td(valign='top' align='center')
                                                                                img(src="https://go.baumit.com/l/1011941/2023-05-05/52l77g/1011941/1683280502ZHI7cfg4/logo_square.png", alt="" width="78" height="auto")
                                                                        // Spacer 20 start
                                                                        include ../_partials/_spacer20.pug
                                                                        // Spacer 20 end
                                                                        tr
                                                                            td.text-center(valign='top' align="center" style="font-size: 14px; line-height: 24px; color: #010101").
                                                                                Baumit GmbH, Wopfing 156  |  2754 Waldegg  |  Tel: 0501 888 1-0
                                                                                <br />
                                                                                office@baumit.com  |  baumit.at
                                                                        // Spacer 5 start
                                                                        include ../_partials/_spacer5.pug
                                                                        // Spacer 5 end
                                                                        tr
                                                                            td.text-center(valign='top' align="center" style="font-size: 12px; line-height: 22px; color: #666666").
                                                                                Behörde gem. ECG: Bezirkshauptmannschaft Wr. Neustadt vertreten durch: Mag. Georg Bursik, DI Manfred Tisch, Firmenbuchgericht: Landesgericht Wr. Neustadt, Firmenbuchnummer: FN 94709 d, UID-Nr.: ATU43470409
                                                                        // Spacer 15 start
                                                                        include ../_partials/_spacer15.pug
                                                                        // Spacer 15 end
                                                                        tr
                                                                            td.text-center(valign='top' align="center" style="font-size: 12px; line-height: 22px; color: #666666").
                                                                                Sie erhalten diese E-Mail, weil Sie sich für den Baumit Newsletter angemeldet haben. Teilen Sie uns mit, wenn Sie unseren Newsletter nicht mehr erhalten möchten. 
                                                                                <a href="{{Unsubscribe}}" target="_blank" style="color:#666666">Abmelden</a>
                                                                        // Spacer 40 start
                                                                        include ../_partials/_spacer40.pug
                                                                        // Spacer 40 end
                                                                                
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                // Footer end
                            tr
                                include ../_partials/_height15.pug