doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Killbill Invoice

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/19/style.scss")

        //- embdedded css allowed, but not sass
        
        include ../_partials/_mobile-styles.pug
        include ../_partials/_internal-and-conditional-styles.pug
        
    body.bg-white
        // Yahoo Wrapper start
        table.wrapper-table.bg-white(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.full(cellpadding="0" cellspacing="0" width="750")
                        tbody
                            tr
                                include ../_partials/_height15.pug
                            tr
                                td.border-mob-none.shadow-mob-none(valign="top" align="center" style="border: 1px solid #eeeeee; box-shadow: 0 0 10px rgba(0,0,0,.15);")
                                    table(cellpadding="0" cellspacing="0" width="100%")
                                        tr
                                            td(valign="top" align="center")
                                                // Content block start
                                                table.full-width(cellpadding="0" cellspacing="0" border="0" width="700")
                                                    tr
                                                        td(valign="top" align="center")
                                                            // Header block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    // Pre headder start
                                                                    //- include ./_partials/_pre-header.pug
                                                                    // Pre-header end
                                                                    tr
                                                                        td(valign="top" align="center")
                                                                            // Header block start
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tbody
                                                                                    // Spacer 15 start
                                                                                    include ../_partials/_spacer15.pug
                                                                                    // Spacer 15 end
                                                                                    tr
                                                                                        td.text-center(valign='top' align='center')
                                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                tr
                                                                                                    td.text-center(valign='middle')
                                                                                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                                            tr
                                                                                                                td.text-center(valign='top' align='center')
                                                                                                                    img(src="images/brightreturn-logo.svg", alt="Logo" width="150" height="auto")
                                                                                                    td.hide(valign='top' align='right' width="100")
                                                                                                        span(style="font-size: 40px; color: #efefef;") INVOICE
                                                                                    // Spacer 15 start
                                                                                    include ../_partials/_spacer15.pug
                                                                                    // Spacer 15 end
                                                                            // Header block end
                                                            // Header block end
                                                            // Header address block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td(valign="top" align="center")
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tbody
                                                                                    tr
                                                                                        td.text-center(valign='top' align='center')
                                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                tr
                                                                                                    td.coldrop(valign='middle')
                                                                                                        // CPA Address block start
                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; font-weight:bold; color: #292929;") CPA Name
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") 1234 Main Street,
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") San Joes, CA 95112,
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") United States.
                                                                                                            // Spacer 10 start
                                                                                                            include ../_partials/_spacer10.pug
                                                                                                            // Spacer 10 end
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    a.text-black(href="https://www.joesgolfequipment.com" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size:14px; color: #010101; text-decoration: none;")
                                                                                                                        |www.joesgolfequipment.com.
                                                                                                        // CPA address block end
                                                                                                    td.coldrop(valign='top' height="20")
                                                                                                        |&nbsp;
                                                                                                    td.coldrop(valign='top' align="right")
                                                                                                        // Invoice details block start
                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                                            tr
                                                                                                                td(valign='top' align='right')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Invoice Number:
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") INV 10923
                                                                                                            tr
                                                                                                                td(valign='top' align='right')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Invoice Date:
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") 02/25/2023
                                                                                                            tr
                                                                                                                td(valign='top' align='right')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Payment Terms:
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Due on Receipt
                                                                                                            tr
                                                                                                                td(valign='top' align='right')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Due Date:
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") 02/25/2023
                                                                                                        // Invoice details block end
                                                                                    // Spacer 15 start
                                                                                    include ../_partials/_spacer15.pug
                                                                                    // Spacer 15 end
                                                            // Header address block end
                                                            // Invoice amount block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td.text-center(valign='top' align='center')
                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td(valign="top" align="right")
                                                                                        // Invoice block start
                                                                                        table(border='0' cellspacing='0' cellpadding='0')
                                                                                            tbody
                                                                                                tr
                                                                                                    td.py-15.px-30.text-center(valign='top' align='center' style="font-family:Arial; font-size:16px; border: 1px solid #d4d4d4; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;")
                                                                                                        table(border='0' cellspacing='0' cellpadding='0')
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td.text-center(valign='top' align='center'  style="font-size: 16px; color: #707070;")
                                                                                                                        |Amount Due:
                                                                                                                tr
                                                                                                                    td.text-center(valign='top' align='center' style="font-size: 18px; font-weight: bold; color: #292929;")
                                                                                                                        |$283.4
                                                                                        // Invoice block end
                                                            // Invoice amount block end
                                                            // Divider block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td.text-center(valign='top' align='center')
                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                // Spacer 20 start
                                                                                include ../_partials/_spacer20.pug
                                                                                // Spacer 20 end
                                                                                tr
                                                                                    td.spacer(valign="top" align="center" height="1" width="100%" bgcolor="#d4d4d4")
                                                                                        |&nbsp;                                                                                        
                                                                                // Spacer 20 start
                                                                                include ../_partials/_spacer20.pug
                                                                                // Spacer 20 end
                                                            // Divider block end
                                                            // Bill to block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td(valign="top" align="center")
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tbody
                                                                                    tr
                                                                                        td.text-center(valign='top' align='center')
                                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                tr
                                                                                                    td.coldrop(valign='middle')
                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; font-weight:bold; color: #292929;") Bill To:
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Name
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") San Diago.
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Address
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") San Joes, CA 95112, United States.
                                                                                                            tr
                                                                                                                td(valign='top' align='left')
                                                                                                                    span(style="font-size: 14px; color: #707070;") Email
                                                                                                                td.pl-5(valign='top' align='left')
                                                                                                                    a.text-black(href="mailto:golflover2212@yahoo.com" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size:14px; color: #010101; text-decoration: none;")
                                                                                                                        |golflover2212@yahoo.com
                                                                                                            
                                                                                                    
                                                                                    // Spacer 40 start
                                                                                    include ../_partials/_spacer40.pug
                                                                                    // Spacer 40 end
                                                            // Bill to block end
                                                            // Invoice Items block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td(valign="top" align="center")
                                                                            table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tbody
                                                                                    tr
                                                                                        td.text-center(valign='top' align='center')
                                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                tr
                                                                                                    td.coldrop(valign='middle' style="font-size:12px; border: 1px solid #d4d4d4;")
                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                            thead(style="background-color: #f9f9f9")
                                                                                                                tr(style="background-color: #f9f9f9;")
                                                                                                                    th.p-10(valign="top" align="left" style="font-weight: bold;  border-bottom: 1px solid #d4d4d4;" width="45%")
                                                                                                                        |Description
                                                                                                                    th.p-10(valign="top" align="left" style="font-weight: bold;  border-bottom: 1px solid #d4d4d4;" )
                                                                                                                        |Quantity
                                                                                                                    th.p-10(valign="top" align="left" style="font-weight: bold;  border-bottom: 1px solid #d4d4d4;" )
                                                                                                                        |Price
                                                                                                                    th.p-10(valign="top" align="left" style="font-weight: bold;  border-bottom: 1px solid #d4d4d4;" )
                                                                                                                        |Amount
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        span(style="font-size: 14px; color: #707070;") 
                                                                                                                            |Nike Driver - Nike SQ Machspeed Black Round Driver
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        span(style="font-size: 14px; color: #707070;") 
                                                                                                                            |1
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                                            tr
                                                                                                                                td.pb-5(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                                        |$299.00
                                                                                                                            tr
                                                                                                                                td(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                                        |(20% Discount)
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                                            tr
                                                                                                                                td.pb-5(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                                        |$299.00*
                                                                                                                            tr
                                                                                                                                td(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                                        |-$59.80
                                                                                                                tr
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        span(style="font-size: 14px; color: #707070;") 
                                                                                                                            |Complementary Lesson 
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        span(style="font-size: 14px; color: #707070;") 
                                                                                                                            |1
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                                            tr
                                                                                                                                td.pb-5(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                                        |$0.00
                                                                                                                            tr
                                                                                                                                td(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                    td.p-10(valign='top' align='left' style="border-bottom: 1px solid #d4d4d4;")
                                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                                            tr
                                                                                                                                td.pb-5(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                                        |$0.00
                                                                                                                            tr
                                                                                                                                td(valign="top" align="left")
                                                                                                                                    span(style="font-size: 14px; color: #707070;") 
                                                                                                                tr
                                                                                                                    td(colspan="4")
                                                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                                            tr
                                                                                                                                td(valign="top" align="right")
                                                                                                                                    table(border='0' cellspacing='0' cellpadding='0' width="300")
                                                                                                                                        tr
                                                                                                                                            td(valign="top" align="right" style="border-left: 1px solid #d4d4d4")
                                                                                                                                                table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                                                                    tr
                                                                                                                                                        td.py-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") Subtotal
                                                                                                                                                    tr
                                                                                                                                                        td.pb-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") Item Discounts
                                                                                                                                                    tr
                                                                                                                                                        td.pb-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") Shipping/Handling
                                                                                                                                                    tr
                                                                                                                                                        td.pb-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") Tax (8%)
                                                                                                                                                    tr
                                                                                                                                                        td.p-10(valign='top' align='right' style="background-color: #f9f9f9")
                                                                                                                                                            span(style="font-size: 14px; color: #292929; font-weight: bold;") Total
                                                                                                                                            td(valign="top" align="right" style="border-left: 1px solid #d4d4d4")
                                                                                                                                                table(border='0' cellspacing='0' cellpadding='0' width="100%")
                                                                                                                                                    tr
                                                                                                                                                        td.py-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") $299.00
                                                                                                                                                    tr
                                                                                                                                                        td.pb-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") -$59.80
                                                                                                                                                    tr
                                                                                                                                                        td.pb-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") $25.00
                                                                                                                                                    tr
                                                                                                                                                        td.pb-5.pr-10(valign='top' align='right' style="")
                                                                                                                                                            span(style="font-size: 14px; color: #707070;") $18.14
                                                                                                                                                    tr
                                                                                                                                                        td.p-10(valign='top' align='right' style="background-color: #f9f9f9")
                                                                                                                                                            span(style="font-size: 14px; color: #292929; font-weight: bold;") $283.24 USD
                                                                                                    
                                                                                    tr
                                                                                        td.text-center(valign='top' align='center')
                                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                                tr
                                                                                                    td.py-5.text-right(valign='top' align='right' style="color: #707070; font-style: italic; font-size: 12px;")
                                                                                                        |* Taxable item
                                                            // Invoice Items block end
                                                            // Divider block start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td.text-center(valign='top' align='center')
                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.spacer(valign="top" align="center" height="1" width="100%" bgcolor="#d4d4d4")
                                                                                        |&nbsp;                                                                                        
                                                                                // Spacer 20 start
                                                                                include ../_partials/_spacer20.pug
                                                                                // Spacer 20 end
                                                            // Divider block end
                                                            
                                                            // Footer start
                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                                tbody
                                                                    tr
                                                                        td.text-center(valign='top' align='center')
                                                                            table.content-table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.coldrop(valign='middle')
                                                                                        // Notes block start
                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                            tr
                                                                                                td(valign='top' align='left')
                                                                                                    span(style="font-size: 12px; font-weight:bold; color: #292929;") Notes
                                                                                            tr
                                                                                                td(valign='top' align='left')
                                                                                                    span(style="font-size: 12px; color: #707070;") 
                                                                                                        |Thank you for doing business with us. Enjoy your driver.
                                                                                        // Notes block end
                                                                                    td.coldrop(valign='top' height="20")
                                                                                        |&nbsp;
                                                                                    td.coldrop(valign='top')
                                                                                        // Terms and Conditions block start
                                                                                        table(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                                            tr
                                                                                                td(valign='top' align='left')
                                                                                                    span(style="font-size: 12px; font-weight:bold; color: #292929;") Terms and Conditions
                                                                                            tr
                                                                                                td(valign='top' align='left')
                                                                                                    span(style="font-size: 12px; color: #707070;") 
                                                                                                        |Full refund for 60 Days after purchase.
                                                                                        // Terms and Conditions block end
                                                                                // Spacer 40 start
                                                                                include ../_partials/_spacer40.pug
                                                                                // Spacer 40 end
                                                            // Footer end
                            tr
                                include ../_partials/_height15.pug