style
    | @font-face {
    |     font-family: "futura";
    |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot');
    |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot?#iefix') format('embedded-opentype'),
    |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.woff') format('woff'),
    |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.ttf') format('truetype');
    |     font-weight: normal;
    |     font-style: normal;
    | }
    | @font-face {
    |     font-family: "futura-bt-book";
    |     src: url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.eot');
    |     src: url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.eot?#iefix') format('embedded-opentype'),
    |     url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.woff') format('woff'),
    |     url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.ttf') format('truetype');
    |     font-weight: normal;
    |     font-style: normal;
    | }
    | @font-face {
    |     font-family: "futura-lt-bt";
    |     src: url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.eot');
    |     src: url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.eot?#iefix') format('embedded-opentype'),
    |     url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.ttf') format('truetype');
    |     font-weight: normal;
    |     font-style: normal;
    | }
    | @media screen and (max-width:576px) {
    include ../../css/screen-and-max-width-576px.css
    | }