tr
    td.d-table-cell.d-sm-none(valign="top" style="box-sizing: border-box; font-family: Arial,Helvetica, sans-serif; font-size: 1px; line-height: 1px; margin: 0 auto;" height="20")
        //[if gt mso 14]>&nbsp;<![endif]
        | &nbsp;
    td.d-none.d-sm-table-cell(valign="top" style="box-sizing: border-box; font-family: Arial,Helvetica, sans-serif; font-size: 1px; line-height: 1px; margin: 0 auto;" height="10")
        //[if gt mso 14]>&nbsp;<![endif]
        | &nbsp;