tr
    td(align='center' style='font-family:Arial; font-size:16px; color:#ffffff;' valign='middle')
        div
            |<!--[if mso]>
            |    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.google.co.in" style="height:40px;v-text-anchor:middle;width:310px;" arcsize="10%" strokecolor="#009cde" fillcolor="#009cde">
            |        <w:anchorlock/>
            |        <center style="color:#ffffff;font-family:Arial;font-size:14px; font-weight:bold;">CTA Text</center>
            |    </v:roundrect>
            |    <![endif]-->
            |<!--[if !(mso)]><!-->
            table.container(width='190' border='0' cellspacing='0' cellpadding='0' align="center")
                tr
                    td.rounded-8.text-center.cta.cta-blue(style='font-family:Arial; font-size:18px; color:#FFFFFF; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;' bgcolor="#7c22c9" valign='middle' align='center')
                        a.px-10.py-15(style='display:block; font-size:18px; text-decoration:none; color:#ffffff; font-weight:bold;' href='#' target='_blank') Learn more
            |<!--<![endif]-->