tr
    td(align='center' style='font-family:Arial; font-size:16px; color:#ffffff;' valign='middle')
        table.container(width='190' border='0' cellspacing='0' cellpadding='0' align="center")
            tr
                td.text-center.cta.cta-blue(style='font-family:Arial; font-size:18px; color:#FFFFFF;border-radius:8px;' bgcolor="#7c22c9" valign='middle' align='center')
                    a.px-10.py-15(style='border:0px solid #7c22c9; background-color:#7c22c9; display:block; font-size:18px; text-decoration:none; color:#ffffff; font-weight:bold; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;' href='https://www.samplelink.com' target='_blank') Learn more