tr
    td(align="center" valign="middle")
        table(cellpadding="0" cellspacing="0" border="0" width="190" align="center")
            tbody
                include ./_rounded-blue-block-top.pug
                tr
                    td.p-10.rounded-8.bg-blue.text-center.text-white.cta.big-cta(bgcolor="#7c22c9" align="center")
                        | Learn more
                include ./_rounded-blue-block-bottom.pug