tr
    td(align='center' style='font-family:Arial; font-size:16px; color:#ffffff;' valign='middle')
        table.container(width='' border='0' cellspacing='0' cellpadding='0' align="center")
            tr
                td.rounded-8.text-center.cta.cta-blue(style='font-family:Arial; font-size:12px; color:#FFFFFF; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;' bgcolor="#7c22c9" valign='middle' align='center')
                    a.p-10(style='border:0px solid #7c22c9; display:block; font-size:12px; text-decoration:none; color:#ffffff; font-weight:bold; border-radius: 8px;' href='https://www.samplelink.com' target='_blank') Learn more