tr
    td(align='center' style='font-family:Arial; font-size:16px; color:#ffffff;' valign='middle')
        div
            |<!--[if mso]>
            |    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.google.co.in" style="height:34px;v-text-anchor:middle;width:110px;" arcsize="10%" strokecolor="#7c22c9" fillcolor="#7c22c9">
            |        <w:anchorlock/>
            |        <center style="color:#ffffff;font-family:Arial;font-size:12px; font-weight:bold;">Learn more</center>
            |    </v:roundrect>
            |    <![endif]-->
            |<!--[if !(mso)]><!-->
            table.container(width='' border='0' cellspacing='0' cellpadding='0' align="center")
                tr
                    td.rounded-8.text-center.cta.cta-blue(style='font-family:Arial; font-size:12px; color:#FFFFFF; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;' bgcolor="#7c22c9" valign='middle' align='center')
                        a.p-10(style='display:block; font-size:12px; text-decoration:none; color:#ffffff; font-weight:bold;' href='https://www.samplelink.com' target='_blank') Learn more
            |<!--<![endif]-->