tr
    td(align="center" valign="middle")
        table(cellpadding="0" cellspacing="0" border="0" width="" align="center")
            tbody
                tr
                    td.hide(width="10" align="left")
                        img(src="images/001-btn-blue-left.png", alt="")
                    td.p-mob-10.rounded-8.bg-blue.text-center.cta.cta-blue(bgcolor="#7c22c9" align="center")
                        | Learn more
                    td.hide(width="10" align="right")
                        img(src="images/001-btn-blue-right.png", alt="")