|<!--[if mso]>
|<style type=”text/css”>
|.fallback-font {
|font-family: Arial, sans-serif;
|}
|</style>
<![endif]-->
| <!--[if (gte mso 9)|(IE)]>
| <style type="text/css">
|     table {border-collapse: collapse;}
| </style>
| <![endif]-->
| <!--[if gte mso 9]>
| <xml>
| <o:OfficeDocumentSettings>
|     <o:AllowPNG/>
|     <o:PixelsPerInch>96</o:PixelsPerInch>
| </o:OfficeDocumentSettings>
| </xml>
| <![endif]-->
| <!--[if gt mso 14]>
| <style type="text/css">
|     .height_01 {
|         font-size:1px;
|         line-height:1px;    
|     }
|     /*Windows 10 phone link fix*/
|     span.MsoHyperlink {
|         mso-style-priority:100 !important;
|         color:inherit !important;
|         text-decoration:none !important;
|     }    
| </style>
| <![endif]-->