table(cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff")
    tbody
        // Spacer 30/20 start
        tr.hide
            include ../../_partials/_height10.pug
        include ../../_partials/_spacer20.pug
        // Spacer 30/20 end
        // Payments and apps block start
        tr
            td.bg-white.px-mob-10(valign="top" align="center" bgcolor="#ffffff")
                table(cellpadding="0" cellspacing="0" border="0" align="center")
                    tr
                        td.coldrop(valign="middle" align="center")
                            table(cellpadding="0" cellspacing="0" border="0" align="center")
                                tr
                                    td(align="center" valign="top")
                                        a(href="https://www.samplelink.com" target="_blank")
                                            img.imgfull(src="images/001-cards.png", alt="Pay using cards")
                        td.coldrop.spacer(valign="middle" align="center" width="20" height="20")
                            | &nbsp;
                        td.coldrop(valign="middle" align="center")
                            table(cellpadding="0" cellspacing="0" border="0" align="center")
                                tr
                                    td(align="center" valign="top")
                                        a(href="https://www.samplelink.com" target="_blank")
                                            img(src="images/001-company-logo-bottom.png", alt="Plus")
                        td.coldrop.spacer(valign="middle" align="center" width="10" height="10")
                            | &nbsp;
                        td.coldrop(valign="middle" align="center")
                            table(cellpadding="0" cellspacing="0" border="0" align="center")
                                tr
                                    td(align="center" valign="top")
                                        a(href="https://www.samplelink.com" target="_blank")
                                            img(src="images/001-google-play-icon.png", alt="Google play app")
                                // spacer 10 start
                                include ../../_partials/_spacer10.pug
                                // spacer 10 end
                                tr
                                    td(align="center" valign="top")
                                        a(href="https://www.samplelink.com" target="_blank")
                                            img(src="images/001-appstore-icon.png", alt="AppleStore app")
        // Payments and apps block end
        // Spacer 30/20 start
        tr.hide
            include ../../_partials/_height10.pug
        include ../../_partials/_spacer20.pug
        // Spacer 30/20 end
        // Footer CTAs block start
        tr
            td(valign="top" align="center")
                table.full(cellpadding="0" cellspacing="0" border="0" align="center")
                    tr
                        td.coldrop(align="center" valign="top" width="280")
                            table.px-mob-15(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                //- include ./_rounded-lightpink-block-top.pug
                                tr
                                    td.p-10.text-black.bg-lightpink(valign="top" align="center" bgcolor="#f2e8f9" style="border-radius: 8px;")
                                        a.text-black(href="https://www.samplelink.com" target="_blank" style="font-size: 12px; font-weight:bold;")
                                            | Current Promotions
                                //- include ./_rounded-lightpink-block-bottom.pug
                        td.spacer.coldrop(valign="top" align="center" width="10" height="10")
                        td.coldrop(align="center" valign="top" width="280")
                            table.px-mob-15(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                //- include ./_rounded-lightpink-block-top.pug
                                tr
                                    td.p-10.text-black.bg-lightpink(valign="top" align="center" bgcolor="#f2e8f9" style="border-radius: 8px;")
                                        a.text-black(href="https://www.samplelink.com" target="_blank" style="font-size: 12px; font-weight:bold;")
                                            | Plus! Benefits
                                //- include ./_rounded-lightpink-block-bottom.pug
                    // spacer 10 start
                    include ../../_partials/_spacer10.pug
                    // spacer 10 end
                    tr
                        td.coldrop(align="center" valign="top" width="280")
                            table.px-mob-15(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                //- include ./_rounded-lightpink-block-top.pug
                                tr
                                    td.p-10.text-black.bg-lightpink(valign="top" align="center" bgcolor="#f2e8f9" style="border-radius: 8px;")
                                        a.text-black(href="https://www.samplelink.com" target="_blank" style="font-size: 12px; font-weight:bold;")
                                            | Update Your Profile
                                //- include ./_rounded-lightpink-block-bottom.pug
                        td.spacer.coldrop(valign="top" align="center" width="10" height="10")
                        td.coldrop(align="center" valign="top" width="280")
                            table.px-mob-15(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                //- include ./_rounded-lightpink-block-top.pug
                                tr
                                    td.p-10.text-black.bg-lightpink(valign="top" align="center" bgcolor="#f2e8f9" style="border-radius: 8px;")
                                        a.text-black(href="https://www.samplelink.com" target="_blank" style="font-size: 12px; font-weight:bold;")
                                            | Update Your Profile
                                //- include ./_rounded-lightpink-block-bottom.pug
        // Footer CTAs block end
        // Spacer 20 start
        include ../../_partials/_spacer20.pug
        // Spacer 20 end
        // Footer Social media block start
        tr
            td(valign="top" align="center")
                table(cellpadding="0" cellspacing="0" border="0" align="center")
                    tr
                        td.text-black(align="center" valign="middle" style="font-size: 12px; font-weight: bold;")
                            | Connect with us
                        td.spacer(valign="middle" width="10")
                        td(align="center" valign="top")
                            a.text-black(href="https://www.samplelink.com" target="_blank")
                                img.text-black(src="images/001-fb-icon.png", alt="Share us with Facebook" title="Share us with Facebook" style="font-size:10px;")
                        td.spacer(valign="middle" width="5")
                        td(align="center" valign="top")
                            a.text-black(href="https://www.samplelink.com" target="_blank")
                                img.text-black(src="images/001-instagram-icon.png", alt="Share us with Instagram" title="Share us with Instagram" style="font-size:10px;")
        // Footer Social media block end
        // spacer 40/20 start
        tr.hide
            include ../../_partials/_height20.pug
        include ../../_partials/_spacer20.pug
        // spacer 40/20 end
        // Footer text contents start
        tr
            td(valign="top" align="center")
                table.px-mob-15.autowidth(cellpadding="0" cellspacing="0" border="0" align="center" width="550")
                    tr
                        td(align="center" valign="top")
                            <span class="d-block text-black ff-lato" style="font-size: 10px; line-height:1.5;">Please do not reply to this email. For enquiries, email <a class="text-blue" href="mailto:enquiries@ntuclink.com.sg" target="_blank" style="text-decoration: underline; color: #7c22c9;">enquiries@ntuclink.com.sg.</a> To unsubscribe, please click <a class="text-blue" href="https://www.samplelink.com" target="_blank" style="text-decoration: underline; color: #7c22c9;">here.</a></span>
                            <br />
                            <span class="d-block text-black ff-lato" style="font-size: 10px; line-height:1.5;">Lost or damaged your card? Replace your card <a class="text-blue" href="https://www.samplelink.com" target="_blank" style="text-decoration: underline; color: #7c22c9;">here.</a></span>
                            <br />
                            <span class="d-block text-black ff-lato" style="font-size: 10px; line-height:1.5;">This is an email from NTUC Link Pte Ltd (Company Reg. No. 199801606C). Neither NTUC Link Pte Ltd nor any merchants or partners within the Plus! Programme accepts responsibility for the accuracy or completeness of the contents of this email as it has been transmitted over a public network. There may be links or hyperlinks within this email which will link you to websites maintained by third parties. NTUC Link is not responsible for, and disclaims liability for any content on third party websites. If you receive this email in error please accept our apology. If this is the case we would be obliged if you would contact the sender and then delete this email.</span>
        // Footer text contents end
        // spacer 40/20 start
        tr.hide
            include ../../_partials/_height20.pug
        include ../../_partials/_spacer20.pug
        // spacer 40/20 end
