//- embdedded css allowed, but not sass

style
    //- | /* latin */
    //- |     @font-face {
    //- |         font-family: 'Lato';
    //- |         font-style: normal;
    //- |         font-weight: 400;
    //- |         font-display: swap;
    //- |         src: url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWg.eot);
    //- |         src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWA.woff) format('woff'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
    //- |         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    //- |     }
    //- | /* latin bold */
    //- |     @font-face {
    //- |         font-family: 'Lato Bold';
    //- |         font-style: normal;
    //- |         font-weight: 700;
    //- |         font-display: swap;
    //- |         src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
    //- |         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    //- |     }
    //- | /* latin black */
    //- |     @font-face {
    //- |         font-family: 'Lato Black';
    //- |         font-style: normal;
    //- |         font-weight: 900;
    //- |         font-display: swap;
    //- |         src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHw.woff) format('woff'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
    //- |         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    //- |     }
    | @media screen and (max-width:576px) {
    include ../../../css/screen-and-max-width-576px.css
    | }
style.
    body {
        margin: 0px;
        padding: 0px;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none !important;
        -ms-text-size-adjust: none !important;
    }

    * {
        line-height: normal;
    }

    a[href^="x-apple-data-detectors:"] {
        color: inherit;
        text-decoration: inherit;
    }

    .spacer {
        line-height: 1px !important;
        font-size: 1px !important;
    }

    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    a {
        text-decoration: none;
    }

    div {
        display: inherit;
    }

    .text-white {
        color: #ffffff;
    }

    .text-black {
        color: #010101;
    }
include ./_conditional-head-section.pug


