table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tr
        td.bg-blue.text-center.pt-5.p-mob-5.rounded-bottom-8(style="color: white; font-size: 12px;")
            | Pre header copy bootiful
    tr.hide
        td(valign="top" align="center")
            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                tr
                    td.spacer(valign="top" align="left" width="8" height="8")
                        img(src="images/001-blue-rnd-crnr-bottom-left.png")
                    td.spacer.bg-blue(align="center" valign="middle" bgcolor="#7c22c9" height="8" style="font-size:1px; line-height:1px;")
                        | &nbsp;
                    td.spacer(align="right" valign="middle" width="8" height="8")
                        img(src="images/001-blue-rnd-crnr-bottom-right.png", alt="")