tr.hide
    td(align="center" valign="middle")
        table(cellpadding="0" cellspacing="0" border="0" width="100%")
            tr
                td.spacer(align="left" valign="middle" width="8" height="8")
                    img(src="images/001-lightgray-rnd-crnr-bottom-left.png", alt="")
                td.spacer.bg-lightgray(align="center" valign="middle" bgcolor="#f6f4f9" height="8" style="font-size:1px; line-height:1px;")
                    | &nbsp;
                td.spacer(align="right" valign="middle" width="8" height="8")
                    img(src="images/001-lightgray-rnd-crnr-bottom-right.png", alt="")