tr.hide
    td(align="center" valign="middle")
        table(cellpadding="0" cellspacing="0" border="0" width="100%")
            tr
                td(align="left" valign="middle" width="8")
                    img(src="images/001-lightpink-rnd-crnr-top-left.png", alt="")
                td.spacer.bg-lightpink(align="center" valign="middle" bgcolor="#f2e8f9" height="8" style="font-size:1px; line-height:1px;")
                    | &nbsp;
                td(align="right" valign="middle" width="8")
                    img(src="images/001-lightpink-rnd-crnr-top-right.png", alt="")