table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        // Rounded white block top start
        include ./_rounded-white-block-top.pug
        // Rounded white block top end
        // Rounded white block content start
        tr
            td.rounded-8(align="center" valign="middle" bgcolor="#ffffff")
                table.contents(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                    tbody
                        // Spacer 20 start
                        tr
                            include ../../_partials/_height20.pug
                        // Spacer 20 end
                        // block heading start
                        tr
                            td(align="center" valign="middle")
                                table(cellpadding="0" cellspacing="0" border="0" width="" align="center")
                                    tbody
                                        tr
                                            td(width="10" align="left" valign="middle" bgcolor="#ffffff")
                                                img(src="images/001-multicolor-heading-decor-left.png" alt="")
                                            td.text-center.block-heading.px-5.fz-mob-22(bgcolor="#ffffff" align="center" valign="middle")
                                                | Lorem ipsum dolor sit amet con
                                            td(width="10" align="right" valign="middle" bgcolor="#ffffff")
                                                img(src="images/001-multicolor-heading-decor-right.png" alt="")
                        // block heading end
                        // Spacer 20 start
                        include ../../_partials/_spacer20.pug
                        // Spacer 20 end
                        tr
                            td(valign="top" align="center")
                                table.full(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                                    tbody
                                        tr
                                            td.text-center.coldrop(width="250" align="center" valign="top")
                                                // Promo three contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        tr
                                                            td(valign="top" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        td.hide(valign="top" align="center" width="8")
                                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                                tr
                                                                                    td.spacer(align="left" valign="middle" width="8" height="8")
                                                                                        img(src="images/001-gray-rnd-crnr-top-left.png " alt="")
                                                                                tr
                                                                                    td.spacer.bg-gray(valign="top" align="center" bgcolor="#d8d8d8" height="30")
                                                                                        | &nbsp;
                                                                        td.rounded-top-8.bg-gray(valign="top" align="center" bgcolor="#d8d8d8")
                                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                                tr
                                                                                    td(valign="top" align="center")
                                                                                        table(cellpadding="0" cellspacing="0" border="0" width="94" align="center")
                                                                                            tr
                                                                                                td.spacer(valign="top" align="center" height="8" bgcolor="#ffffff")
                                                                                                    | &nbsp;
                                                                                            tr
                                                                                                td(valign="middle" align="center" bgcolor="#ffffff" style="font-weight:bold; font-size:14px; color: #7c22c9; vertical-align: middle;")
                                                                                                    | $1 = 1 
                                                                                                    img.d-inline-block(src="images/001-price-badge.png", alt="")

                                                                                            tr
                                                                                                td(valign="top" align="center" height="10")
                                                                                                    table(cellpadding="0" cellspacing="0" border="0" width="94" align="center")
                                                                                                        tr
                                                                                                            td.spacer(align="left" valign="middle" width="8" height="8")
                                                                                                                img(src="images/001-white-rnd-crnr-bottom-left.png", alt="")
                                                                                                            td.spacer(valign="top" align="left" height="8" bgcolor="#ffffff")
                                                                                                                | &nbsp;
                                                                                                            td.spacer(align="right" valign="middle" width="8" height="8")
                                                                                                                img(src="images/001-white-rnd-crnr-bottom-right.png", alt="")

                                                                        td.hide(valign="top" align="center" width="8")
                                                                            table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                                tr
                                                                                    td.spacer(align="left" valign="middle" width="8" height="8")
                                                                                        img(src="images/001-gray-rnd-crnr-top-right.png " alt="")
                                                                                tr
                                                                                    td.bg-gray.spacer(valign="top" align="center" bgcolor="#d8d8d8" height="30")
                                                                                        | &nbsp;
                                                        tr
                                                            td.bg-gray(valign="top" align="center" bgcolor="#d8d8d8")
                                                                table.bg-gray(cellpadding="0" cellspacing="0" border="0" width="100%" align="center" bgcolor="#d8d8d8")
                                                                    tr
                                                                        td(valign="top" align="center")
                                                                            img.imgfull(src="images/001-promo-placeholder-02.jpg", alt="")
                                                        tr
                                                            td.autoheight.rounded-bottom-8(valign="middle" align="center" height="200" bgcolor="#f6f4f9")
                                                                table.px-10(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        include ../../_partials/_height15.pug
                                                                    tr
                                                                        td.promo-preheader(valign="top" align="center" style="")
                                                                            | Partner's Name
                                                                    tr
                                                                        include ../../_partials/_height10.pug
                                                                    tr
                                                                        td.promo-text.text-black.fwb(valign="top" align="center" style="").
                                                                            Collect 8 stamps to redeem a 
                                                                            <span class="text-blue promo-text ff-latobold">free Tori Teriyaki Bento</span>
                                                                    tr
                                                                        include ../../_partials/_height10.pug
                                                                    tr
                                                                        td(valign="middle" align="center" style="vertical-align: middle")
                                                                            table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                tr
                                                                                    td(valign="middle" align="left" width="15")
                                                                                        img(src="images/001-calendar-icon.png " alt="")
                                                                                    td.text-gray(valign="middle" align="left" style="font-style: italic; font-size: 10px; mso-line-height-rule:exactly; line-height:10px;")
                                                                                        | Valid till 28th Nov
                                                                    tr
                                                                        include ../../_partials/_height10.pug
                                                                    include _blue-cta-2.pug
                                                                    tr
                                                                        include ../../_partials/_height15.pug
                                                        include ./_rounded-lightgray-block-bottom.pug
                                                // Promo three contentarea end
                                            td.coldrop.spacer(valign="top" align="center" width="30" height="20")
                                                | &nbsp;
                                            td.text-center.coldrop(width="250" align="center" valign="top")
                                                // Promo four contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        include ./_rounded-gray-block-top.pug
                                                        tr
                                                            td.bg-gray.rounded-top-8.autoheight(valign="middle" align="center" height="135" bgcolor="#d8d8d8")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        td(valign="top" align="center")
                                                                            img.rounded-top-8.imgfull(src="images/001-promo-placeholder-02.jpg", alt="")
                                                        tr
                                                            td.rounded-bottom-8.autoheight(valign="top" align="center" bgcolor="#f6f4f9" height="200")
                                                                table.px-10(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        include ../../_partials/_height15.pug
                                                                    tr
                                                                        td.promo-preheader(valign="top" align="center" style="")
                                                                            | Partner's Name
                                                                    tr
                                                                        include ../../_partials/_height10.pug
                                                                    tr
                                                                        td.promo-offer-text.text-blue.fwb(valign="top" align="center" style="")
                                                                            | 30% off
                                                                    tr
                                                                        td.promo-text.text-black.fwb(valign="top" align="center" style="")
                                                                            | food purchases on weekends with board gaming
                                                                    tr
                                                                        include ../../_partials/_height10.pug
                                                                    tr
                                                                        td(valign="middle" align="center" style="vertical-align: middle")
                                                                            table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                                tr
                                                                                    td(valign="middle" align="left" width="15")
                                                                                        img(src="images/001-calendar-icon.png " alt="")
                                                                                    td.text-gray(valign="middle" align="left" style="font-style: italic; font-size: 10px; mso-line-height-rule:exactly; line-height:10px;")
                                                                                        | Valid till 28th Nov
                                                                    tr
                                                                        include ../../_partials/_height10.pug
                                                                    include _blue-cta-2.pug
                                                                    tr
                                                                        include ../../_partials/_height15.pug
                                                        include ./_rounded-lightgray-block-bottom.pug
                                                // Promo four contentarea end
                                        // Spacer 20 start
                                        include ../../_partials/_spacer20.pug
                                        // Spacer 20 end
        // Rounded white block content end
        // Rounded white block bottom start
        include ./_rounded-white-block-bottom.pug
        // Rounded white block bottom end