table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        // Rounded white block top start
        //- include ./_rounded-white-block-top.pug
        // Rounded white block top end
        // Rounded white block content start
        tr
            td.no-inline(align="center" valign="middle" bgcolor="#ffffff" style="border-radius: 8px;")
                table.contents(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                    tbody
                        // Spacer 20 start
                        tr
                            include ../../_partials/_height20.pug
                        // Spacer 20 end
                        // block heading start
                        tr
                            td.no-inline(align="center" valign="middle")
                                table(cellpadding="0" cellspacing="0" border="0" width="" align="center")
                                    tbody
                                        tr
                                            td.no-inline(width="10" align="left" valign="middle")
                                                img(src="images/001-multicolor-heading-decor-left.png" alt="")
                                            td.text-center.block-heading.px-5.fz-mob-22(align="center" valign="middle")
                                                | Lorem ipsum dolor sit amet con
                                            td.no-inline(width="10" align="right" valign="middle")
                                                img(src="images/001-multicolor-heading-decor-right.png" alt="")
                        // block heading end
                        // Spacer 20 start
                        include ../../_partials/_spacer20.pug
                        // Spacer 20 end
                        tr
                            td.no-inline(valign="top" align="center")
                                table.full(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                                    tbody
                                        tr
                                            td.no-inline.text-center(align="center" valign="top")
                                                // Article section 01 contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        tr
                                                            td.no-inline.coldrop(valign="middle" align="center" width="120")
                                                                img.rounded-8(src="images/001-promo-placeholder-05.png", alt="")
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="left")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="left")
                                                                    tr
                                                                        td.text-blue.article-title.text-center.text-left(valign="top" align="left" style="font-size: 14px; font-weight: bold;")
                                                                            | Lorem ipsum dolor sit amet, consectetur adipiscing
                                                                    include ../../_partials/_spacer5.pug
                                                                    tr
                                                                        td.text-center.text-left(valign="top" align="left" style="font-size: 14px;")
                                                                            | Suspendisse neque tortor, consectetur non placerat id, euismod et augue. Nunc nulla ipsum, finibus ac sodales eu.
                                                                    include ../../_partials/_spacer10.pug
                                                                    tr
                                                                        td.no-inline.text-center(valign="middle" align="left" style="font-size: 14px;")
                                                                            table.align-center.text-center(cellpadding="0" cellspacing="0" border="0" align="left")
                                                                                tr
                                                                                    td(valign="middle" align="left" style="font-size: 14px;")
                                                                                        a.text-blue(href="https://www.samplelink.com" target="_blank" style="font-weight:bold;")
                                                                                            | Hyperlink here
                                                                                    td.no-inline.spacer(valign="middle" align="left" width="8")
                                                                                        | &nbsp;
                                                                                    td(valign="middle" align="left" style="font-size: 14px;")
                                                                                        a.text-blue(href="https://www.samplelink.com" target="_blank" style="font-weight:bold;")
                                                                                            img(src="images/001-btn-arrow-right.png", alt="")
                                                        // Spacer 30 table start                 
                                                        include ../../_partials/_spacer30.pug
                                                        // Spacer 30 table end                 
                                                // Article section 01 contentarea end
                                                // Article section 02 contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        tr
                                                            td.no-inline.coldrop(valign="middle" align="center" width="120")
                                                                img.rounded-8(src="images/001-promo-placeholder-05.png", alt="")
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="left")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="left")
                                                                    tr
                                                                        td.text-blue.article-title.text-center.text-left(valign="top" align="left" style="font-size: 14px; font-weight: bold;")
                                                                            | Lorem ipsum dolor sit amet, consectetur adipiscing
                                                                    include ../../_partials/_spacer5.pug
                                                                    tr
                                                                        td.text-center.text-left(valign="top" align="left" style="font-size: 14px;")
                                                                            | Suspendisse neque tortor, consectetur non placerat id, euismod et augue. Nunc nulla ipsum, finibus ac sodales eu.
                                                                    include ../../_partials/_spacer10.pug
                                                                    tr
                                                                        td.text-center(valign="middle" align="left" style="font-size: 14px;")
                                                                            table.align-center.text-center(cellpadding="0" cellspacing="0" border="0" align="left")
                                                                                tr
                                                                                    td(valign="middle" align="left" style="font-size: 14px;")
                                                                                        a.text-blue(href="https://www.samplelink.com" target="_blank" style="font-weight:bold;")
                                                                                            | Hyperlink here
                                                                                    td.spacer(valign="middle" align="left" width="8")
                                                                                        | &nbsp;
                                                                                    td(valign="middle" align="left" style="font-size: 14px;")
                                                                                        a.text-blue(href="https://www.samplelink.com" target="_blank" style="font-weight:bold;")
                                                                                            img(src="images/001-btn-arrow-right.png", alt="")
                                                        // Spacer 20 start
                                                        include ../../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                // Article section 02 contentarea end
        // Rounded white block content end
        // Rounded white block bottom start
        //- include ./_rounded-white-block-bottom.pug
        // Rounded white block bottom end