table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        // Rounded white block top start
        //- include ./_rounded-white-block-top.pug
        // Rounded white block top end
        // Rounded white block content start
        tr
            td.rounded-top-8.no-inline(align="center" valign="middle" bgcolor="#ffffff")
                table.contents(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                    tbody
                        // Spacer 20 start
                        tr
                            include ../../_partials/_height20.pug
                        // Spacer 20 end
                        // block heading start
                        tr
                            td.no-inline(align="center" valign="middle")
                                table(cellpadding="0" cellspacing="0" border="0" width="" align="center")
                                    tbody
                                        tr
                                            td.no-inline(width="10" align="left" valign="middle")
                                                img(src="images/001-multicolor-heading-decor-left.png" alt="")
                                            td.text-center.block-heading.px-5.fz-mob-22(align="center" valign="middle")
                                                | Lorem ipsum dolor sit amet con
                                            td.no-inline(width="10" align="right" valign="middle")
                                                img(src="images/001-multicolor-heading-decor-right.png" alt="")
                        // block heading end
                        // Spacer 20 start
                        include ../../_partials/_spacer20.pug
                        // Spacer 20 end
                        tr
                            td.no-inline(valign="top" align="center")
                                table.full(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                                    tbody
                                        tr
                                            td.no-inline.text-center(align="center" valign="top")
                                                // Article section 03 contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        tr
                                                            td.no-inline.coldrop(valign="middle" align="center" width="120")
                                                                img.rounded-8(src="images/001-promo-placeholder-05.png", alt="")
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        td.article-title.text-center(valign="top" align="center" style="font-size: 14px; font-weight: bold;")
                                                                            | Lorem ipsum
                                                                    include ../../_partials/_spacer5.pug
                                                                    tr
                                                                        td.text-center(valign="top" align="center" style="font-size: 14px;")
                                                                            | Suspendisse neque tortor consectetur
                                                                    include ../../_partials/_spacer10.pug
                                                                    tr
                                                                        td.no-inline.text-center(valign="middle" align="center" style="font-size: 18px;")
                                                                            span.fwb(style="font-size: 18px;")
                                                                                | $1 = 
                                                                            span.fwb.text-blue(style="font-size: 18px;")
                                                                                | 4 LinkPoints
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    include ./_blue-cta-2.pug
                                                // Article section 03 contentarea end
                                        // Spacer 20 start
                                        include ../../_partials/_spacer20.pug
                                        // Spacer 20 end
        tr
            td.no-inline.bg-gray.spacer(valign="top" align="center" bgcolor="#f6f6f6" height="5")
                | &nbsp;
        tr
            td.no-inline(align="center" valign="middle" bgcolor="#ffffff")
                table.contents(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                    tbody
                        // Spacer 20 start
                        include ../../_partials/_spacer20.pug
                        // Spacer 20 end
                        tr
                            td.no-inline(valign="top" align="center")
                                table.full(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                                    tbody
                                        tr
                                            td.no-inline.text-center(align="center" valign="top")
                                                // Article section 04 contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        tr
                                                            td.no-inline.coldrop(valign="middle" align="center" width="120")
                                                                img.rounded-8(src="images/001-promo-placeholder-05.png", alt="")
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        td.article-title.text-center(valign="top" align="center" style="font-size: 14px; font-weight: bold;")
                                                                            | Lorem ipsum
                                                                    include ../../_partials/_spacer5.pug
                                                                    tr
                                                                        td.text-center(valign="top" align="center" style="font-size: 14px;")
                                                                            | Suspendisse neque tortor consectetur
                                                                    include ../../_partials/_spacer10.pug
                                                                    tr
                                                                        td.no-inline.text-center(valign="middle" align="center" style="font-size: 18px;")
                                                                            span.fwb(style="font-size: 18px;")
                                                                                | $1 = 
                                                                            span.fwb.text-blue(style="font-size: 18px;")
                                                                                | 4 LinkPoints
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    include ./_blue-cta-2.pug
                                                // Article section 04 contentarea end
                                        // Spacer 20 start
                                        include ../../_partials/_spacer20.pug
                                        // Spacer 20 end
        tr
            td.no-inline.bg-gray.spacer(valign="top" align="center" bgcolor="#f6f6f6" height="5")
                | &nbsp;
        tr
            td.no-inline.rounded-bottom-8(align="center" valign="middle" bgcolor="#ffffff")
                table.contents(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                    tbody
                        // Spacer 20 start
                        include ../../_partials/_spacer20.pug
                        // Spacer 20 end
                        tr
                            td.no-inline(valign="top" align="center")
                                table.full(cellpadding="0" cellspacing="0" border="0" width="530" align="center")
                                    tbody
                                        tr
                                            td.no-inline.text-center(align="center" valign="top")
                                                // Article section 05 contentarea start
                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                    tbody
                                                        tr
                                                            td.no-inline.coldrop(valign="middle" align="center" width="120")
                                                                img.rounded-8(src="images/001-promo-placeholder-05.png", alt="")
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    tr
                                                                        td.article-title.text-center(valign="top" align="center" style="font-size: 14px; font-weight: bold;")
                                                                            | Lorem ipsum
                                                                    include ../../_partials/_spacer5.pug
                                                                    tr
                                                                        td.text-center(valign="top" align="center" style="font-size: 14px;")
                                                                            | Suspendisse neque tortor consectetur
                                                                    include ../../_partials/_spacer10.pug
                                                                    tr
                                                                        td.text-center(valign="middle" align="center" style="font-size: 18px;")
                                                                            span.fwb(style="font-size: 18px;")
                                                                                | $1 = 
                                                                            span.fwb.text-blue(style="font-size: 18px;")
                                                                                | 4 LinkPoints
                                                            td.no-inline.spacer.coldrop(valign="middle" align="center" width="20" height="20")
                                                                | &nbsp;
                                                            td.no-inline.coldrop(valign="middle" align="center")
                                                                table(cellpadding="0" cellspacing="0" border="0" width="100%" align="center")
                                                                    include ./_blue-cta-2.pug
                                                // Article section 05 contentarea end
                                        // Spacer 20 start
                                        include ../../_partials/_spacer20.pug
                                        // Spacer 20 end
        // Rounded white block content end
        // Rounded white block bottom start
        //- include ./_rounded-white-block-bottom.pug
        // Rounded white block bottom end