table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            table.full.px-15(cellspacing="0" cellpadding="0" border="0" width="570")
                tr
                    td(valign="top" align="center")
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end
                        // Hero content block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td.text-darkblue.fb-font.fwb(valign='top' align="center" style="font-size:18px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        NOS ENCANTA TENERTE AQUÍ.
                                include ../../_partials/_spacer15.pug
                                tr
                                    td.fb-font.fwb(valign='top' align="center" style="font-size:16px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        Como miembro especial de nuestra comunidad recibirás promociones exclusivas dentro de tu bandeja de correo.
                                include ../../_partials/_spacer15.pug
                                tr
                                    td.fb-font.fwb(valign='top' align="center" style="font-size:16px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        Además, serás el primero en recibir noticias exclusivas y consejos de médicos expertos en el cuidado de la piel.
                                include ../../_partials/_spacer15.pug
                                tr
                                    td.text-darkblue.fb-font.fwb(valign='top' align="center" style="font-size:18px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        En agradecimiento de ser parte de nuestra familia, te regalamos este exclusivo eBook que puedes descargar cuando quieras.
                        // Hero content block end
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end