doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Email template | Four

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/four/style.scss")

        //- embdedded css allowed, but not sass
        
        style
            | @font-face {
            |     font-family: "futura";
            |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot');
            |     src: url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.eot?#iefix') format('embedded-opentype'),
            |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.woff') format('woff'),
            |         url('https://www.fontify.me/cm/f946b4b65d460845102e6e8994d8e699/futura-medium-bt.ttf') format('truetype');
            |     font-weight: normal;
            |     font-style: normal;
            | }
            | @font-face {
            |     font-family: "futura-bt-book";
            |     src: url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.eot');
            |     src: url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.eot?#iefix') format('embedded-opentype'),
            |     url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.woff') format('woff'),
            |     url('https://www.fontify.me/cm/7dfd16359486923cdec06b4eae433d9b/futura-book-bt.ttf') format('truetype');
            |     font-weight: normal;
            |     font-style: normal;
            | }
            | @font-face {
            |     font-family: "futura-lt-bt";
            |     src: url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.eot');
            |     src: url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.eot?#iefix') format('embedded-opentype'),
            |     url('https://www.fontify.me/cm/2e95df6feee620b447e733c01f6d4098/FUTURAL.ttf') format('truetype');
            |     font-weight: normal;
            |     font-style: normal;
            | }
            | @media screen and (max-width:576px) {
            include ../../css/screen-and-max-width-576px.css
            | }
        style.
            body {
                margin: 0px;
                padding: 0px;
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: none !important;
                -ms-text-size-adjust: none !important;
            }

            * {
                line-height: normal;
            }

            a[href^="x-apple-data-detectors:"] {
                color: inherit;
                text-decoration: inherit;
            }

            .spacer {
                line-height: 1px !important;
                font-size: 1px !important;
            }

            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }

            a {
                text-decoration: none;
            }

            div {
                display: inherit;
            }

            .text-white {
                color: #ffffff;
            }

            .text-black {
                color: #010101;
            }
        | <!--[if (gte mso 9)|(IE)]>
        | <style type="text/css">
        |     table {border-collapse: collapse;}
        | </style>
        | <![endif]-->
        | <!--[if gte mso 9]>
        | <xml>
        | <o:OfficeDocumentSettings>
        |     <o:AllowPNG/>
        |     <o:PixelsPerInch>96</o:PixelsPerInch>
        | </o:OfficeDocumentSettings>
        | </xml>
        | <![endif]-->
        | <!--[if gt mso 14]>
        | <style type="text/css">
        |     .height_01 {
        |         font-size:1px;
        |         line-height:1px;    
        |     }
        |     /*Windows 10 phone link fix*/
        |     span.MsoHyperlink {
        |         mso-style-priority:100 !important;
        |         color:inherit !important;
        |         text-decoration:none !important;
        |     }    
        | </style>
        | <![endif]-->
        
    body.bg-lightwhite
        // Yahoo Wrapper start
        table.wrapper-table.bg-lightwhite(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#f9f9f9")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.full-width(cellpadding="0" cellspacing="0" width="640")
                        tbody
                            tr
                                td(valign="top" align="center")
                                    // Header block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Pre headder start
                                            //- include ./_partials/_pre-header.pug
                                            // Pre-header end
                                            tr
                                                td(valign="top" align="center")
                                                    // Header title block start
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                        tbody
                                                            // Spacer 30 start
                                                            include ../_partials/_spacer30.pug
                                                            // Spacer 30 end
                                                            tr
                                                                td(valign='top' align='center')
                                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                        tr
                                                                            td(valign='top' align='center')
                                                                                img(src="images/004-black-SC_logo-top.png", alt="SkinCeuticals")
                                                            // Spacer 30 start
                                                            include ../_partials/_spacer30.pug
                                                            // Spacer 30 end
                                                    // Header title block end
                                    // Header block end
                                    // Hero block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Pre headder start
                                            //- include ./_partials/_pre-header.pug
                                            // Pre-header end
                                            tr
                                                td(valign="top" align="center")
                                                    // Header title block start
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                        tbody
                                                            // Spacer 30 start
                                                            include ../_partials/_spacer30.pug
                                                            // Spacer 30 end
                                                            tr
                                                                td(valign='top' align='center')
                                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                        tr
                                                                            td(valign='top' align='center')
                                                                                img.imgfull(src="images/004-hero-image.png", alt="SkinCeuticals")
                                                    // Header title block end
                                    // Hero block end
                                    // Header block text start
                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                        tbody
                                            // Spacer 30 start
                                            include ../_partials/_spacer20.pug
                                            // Spacer 30 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.text-darkblue.fz-mob-32.px-mob-20(valign='top' align='center' style="font-size:52px; color: #2e9ebe; letter-spacing:5px").
                                                                ¡GRAN APERTURA!
                                            // Spacer 30 start
                                            tr.hide
                                                include ../_partials/_height30.pug
                                            // Spacer 30 end
                                    // Header block text end
                                    // Content block 01 start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="490")
                                                        // Spacer 20 start
                                                        include ../_partials/_spacer20.pug
                                                        // Spacer 20 end
                                                        tr
                                                            td.text-darkblue.px-mob-15.fz-mob-18.ls-1(valign='top' align='center' style="font-size:26px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; letter-spacing: 2px; text-decoration: underline;").
                                                                <a href="https://www.skinceuticals.com.mx" target="_blank" style="font-family:'futura', Arial, Helvetica, sans-serif; color: #2e9ebe; font-weight: bold;">
                                                                &gt; www.skinceuticals.com.mx &lt;</a>
                                                        // Spacer 15 start
                                                        include ../_partials/_spacer15.pug
                                                        // Spacer 15 end
                                                        tr
                                                            td.text-black.px-mob-15.fz-mob-16(valign='top' align='center' style="font-size:18px; color: #010101; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;").
                                                                <strong>Nuestra tienda en línea está esperándote.</strong><br>
                                                                Se de las primeras personas en conocer el mejor sitio web para el cuidado de tu piel y recibe tus productos hasta donde estés.
                                                        // Spacer 15 start
                                                        include ../_partials/_spacer15.pug
                                                        // Spacer 15 end
                                    // Content block 01 end
                                    // Red CTA Block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Spacer 15 start
                                            include ../_partials/_spacer15.pug
                                            // Spacer 15 end
                                            tr
                                                td(valign="top" align="center")
                                                    table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                        tbody
                                                            include ./_partials/_big-red-cta.pug
                                            // Spacer 15 start
                                            include ../_partials/_spacer15.pug
                                            // Spacer 15 end
                                    // Red CTA Block end
                                    // Products block title start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Spacer 15 start
                                            include ../_partials/_spacer15.pug
                                            // Spacer 15 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center.autowidth.px-mob-20(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                        tr
                                                            td(valign="top" align="center")
                                                                table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="560")
                                                                    tbody
                                                                        tr
                                                                            td.text-darkblue(valign='top' align='center' style="font-size:18px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center; letter-spacing: 2px;").
                                                                                <strong>ESPECIALMENTE PARA TI</strong>
                                                                        include ../_partials/_spacer10.pug
                                                                        tr
                                                                            td(valign="top" align="center")
                                                                                table(cellpadding="0" cellspacing="0" border="0" width="40" align="center")
                                                                                    tbody
                                                                                        tr
                                                                                            td.bg-lightblue.spacer(valign="top" align="center" height="3" bgcolor="#c9e4e7")
                                                                                                |&nbsp;
                                            // Spacer 15 start
                                            include ../_partials/_spacer15.pug
                                            // Spacer 15 end
                                    // Products block title end
                                    // Product block 01 start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            // Spacer 15 start
                                            include ../_partials/_spacer15.pug
                                            // Spacer 15 end
                                            tr
                                                td(valign='top' align='center')
                                                    table.align-center.full.px-mob-20(border='0' cellspacing='0' cellpadding='0' align='center' width="580")
                                                        tr
                                                            td.coldrop(valign="top" align="center" width="180")
                                                                table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                    tr
                                                                        td(valign='middle' align='center' bgcolor="#ffffff" height="190")
                                                                            img(src="images/004-product-image-01.png", alt="A.G.E. Interrupter")
                                                                    tr
                                                                            td.text-black.p-5(valign='top' align='center' style="font-size:14px; color: #010101; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;").
                                                                                <strong>A.G.E. Interrupter</strong><br>
                                                                                <span style="font-size:14px; color: #8d8d8d; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; text-align: center;">$2,999</span>
                                                                    tr
                                                                        td.text-white(valign="middle" align="center")
                                                                            table.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.text-white(valign="middle" align="center")
                                                                                        a.p-10.bg-darkblue(href="https://www.samplelink.com" target="_blank" style="display: table; vertical-align:middle; color: #ffffff; width: 100%;")
                                                                                            |Comprar
                                                            td.coldrop(valign="top" align="center" width="20" height="30")
                                                                |&nbsp;
                                                            td.coldrop(valign="top" align="center" width="180")
                                                                table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                    tr
                                                                        td(valign='middle' align='center' bgcolor="#ffffff" height="190")
                                                                            img(src="images/004-product-image-02.png", alt="H.A. Intensifier")
                                                                    tr
                                                                            td.text-black.p-5(valign='top' align='center' style="font-size:14px; color: #010101; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;").
                                                                                <strong>H.A. Intensifier</strong><br>
                                                                                <span style="font-size:14px; color: #8d8d8d; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; text-align: center;">$2,999</span>
                                                                    tr
                                                                        td.text-white(valign="middle" align="center")
                                                                            table.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.text-white(valign="middle" align="center")
                                                                                        a.p-10.bg-darkblue(href="https://www.samplelink.com" target="_blank" style="display: table; vertical-align:middle; color: #ffffff; width: 100%;")
                                                                                            |Comprar
                                                            td.coldrop(valign="top" align="center" width="20" height="30")
                                                                |&nbsp;
                                                            td.coldrop(valign="top" align="center" width="180")
                                                                table(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                    tr
                                                                        td(valign='middle' align='center' bgcolor="#ffffff" height="190")
                                                                            img(src="images/004-product-image-03.png", alt="Blemish + Age Cleanser")
                                                                    tr
                                                                            td.text-black.p-5(valign='top' align='center' style="font-size:14px; color: #010101; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;").
                                                                                <strong>Blemish + Age Cleanser</strong><br>
                                                                                <span style="font-size:14px; color: #8d8d8d; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; text-align: center;">$2,999</span>
                                                                    tr
                                                                        td.text-white(valign="middle" align="center")
                                                                            table.contents(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                                                                tr
                                                                                    td.text-white(valign="middle" align="center")
                                                                                        a.p-10.bg-darkblue(href="https://www.samplelink.com" target="_blank" style="display: table; vertical-align:middle; color: #ffffff; width: 100%;")
                                                                                            |Comprar
                                            // Spacer 20 start
                                            include ../_partials/_spacer20.pug
                                            // Spacer 20 end
                                    // Product block 01 end
                                    // Social media buttons block start
                                    // Social media buttons block end
                                    // Footer block start
                                    table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    table.full-width.p-mob-15(width="640" border="0" cellspacing="0" cellpadding="0")
                                                        tr
                                                            include ../_partials/_height15.pug
                                                        tr
                                                            td(valign='top' align='center')
                                                                table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                    tr
                                                                        td(valign='top' align='center')
                                                                            img(src="images/004-black-SC_logo-top.png", alt="SkinCeuticals")
                                                        tr
                                                            include ../_partials/_height20.pug
                                                        tr
                                                            td.text-white(valign='middle' align='center' style="font-size: 10px; color: #343434;").
                                                                © 2019 SkinCeuticals México.<br>
                                                                © 2019 - SkinCeuticals México.
                                                                Félix Cuevas No. 6, Tlacoquemecatl del Valle, 03200 Ciudad de México, CDMX.
                                                        tr
                                                            include ../_partials/_height15.pug
                                                        tr
                                                            td.text-white(valign='middle' align='center' style="font-size: 10px; color: #343434;").
                                                                Recibiste este correo porque estás suscrito a nuestro newsletter.<br>
                                                                <a href="https://www.samplelink.com" class="text-decoration-underline" style="text-decoration: underline; color:#343434">Contáctanos</a> | <a href="https://www.samplelink.com" class="text-decoration-underline" style="text-decoration: underline; color:#343434">Desuscribirte</a>
                                                        tr
                                                            include ../_partials/_height15.pug
                                    // Footer block end