table.full(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff")
    tr
        td.px-40.p-mob-15(valign="top" align="center")
            table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                    td.coldrop(valign="top" align="center" bgcolor="#ffffff" width="180")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                tr
                                    td(valign='top')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td(valign="middle" align="center")
                                                        a(href="https://www.samplelink.com" target="_blank")
                                                            img(src="images/prod-img.png", alt="")
                                                // Spacer 30 start
                                                include ../../_partials/_spacer30.pug
                                                // Spacer 30 end
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="center" style="font-size:20px; color: #424242; letter-spacing:2px; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                        CE FERULIC <br />
                                                        <span class="no-inline ls-1" style="font-size:20px; color: #424242; letter-spacing:2px; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;font-weight: bold;">$3,570.00</span>
                                                // Spacer 10 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 10 end
                                                tr
                                                    td.autoheight.text-black.fb-font.text-center(valign='top' height="115" align="center" style="font-size:15px; color: #010101; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;").
                                                        Suero que combina
                                                        vitamina C y ácido ferúlico que
                                                        proporciona una
                                                        protección global y avanzada frente al
                                                        envejecimiento.
                                                // Spacer 10 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 10 end
                                                tr
                                                    td.text-center(valign='top' align="center")
                                                        table.full(cellpadding="0" cellspacing="0" border="0")
                                                            tbody
                                                                tr
                                                                    td(valign="top" align="center")
                                                                        // CTA start
                                                                        include ./_body-f-block-cta.pug
                                                                        // CTA end
                    td.coldrop.spacer(valign="top" width="15" height="20")
                        |&nbsp;
                    td.coldrop(valign="top" align="center" bgcolor="#ffffff" width="180")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                tr
                                    td(valign='top')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td(valign="middle" align="center")
                                                        a(href="https://www.samplelink.com" target="_blank")
                                                            img(src="images/prod-img.png", alt="")
                                                // Spacer 30 start
                                                include ../../_partials/_spacer30.pug
                                                // Spacer 30 end
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="center" style="font-size:20px; color: #424242; letter-spacing:2px; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                        BLEMISH + AGE <br />
                                                        <span class="no-inline ls-1" style="font-size:20px; color: #424242; letter-spacing:2px; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;font-weight: bold;">$2,010.00</span>
                                                // Spacer 10 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 10 end
                                                tr
                                                    td.autoheight.text-black.fb-font.text-center(valign='top' height="115" align="center" style="font-size:15px; color: #010101; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;").
                                                        Suero libre de aceite que elimina imperfecciones y corrige
                                                        signos de la edad.
                                                // Spacer 10 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 10 end
                                                tr
                                                    td.text-center(valign='top' align="center")
                                                        table.full(cellpadding="0" cellspacing="0" border="0")
                                                            tbody
                                                                tr
                                                                    td(valign="top" align="center")
                                                                        // CTA start
                                                                        include ./_body-f-block-cta.pug
                                                                        // CTA end
                    td.coldrop.spacer(valign="top" width="15" height="20")
                        |&nbsp;
                    td.coldrop(valign="top" align="center" bgcolor="#ffffff" width="180")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                tr
                                    td(valign='top')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td(valign="middle" align="center")
                                                        a(href="https://www.samplelink.com" target="_blank")
                                                            img(src="images/prod-img.png", alt="")
                                                // Spacer 30 start
                                                include ../../_partials/_spacer30.pug
                                                // Spacer 30 end
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="center" style="font-size:20px; color: #424242; letter-spacing:2px; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                        PHLORETIN CF <br />
                                                        <span class="no-inline ls-1" style="font-size:20px; color: #424242; letter-spacing:2px; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;font-weight: bold;">$3,590.00</span>
                                                // Spacer 10 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 10 end
                                                tr
                                                    td.autoheight.text-black.fb-font.text-center(valign='top' height="115" align="center" style="font-size:15px; color: #010101; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;").
                                                        Suero que combina
                                                        antioxidantes, vitamina C, ácido ferúlico y floretina, para mayor
                                                        protección contra rayos UVA/UVB
                                                        y contaminación.
                                                // Spacer 10 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 10 end
                                                tr
                                                    td.text-center(valign='top' align="center")
                                                        table.full(cellpadding="0" cellspacing="0" border="0")
                                                            tbody
                                                                tr
                                                                    td(valign="top" align="center")
                                                                        // CTA start
                                                                        include ./_body-f-block-cta.pug
                                                                        // CTA end