style
    |.hero-bg {
    |    background: url('images/hero-banner.png');
    |    background-repeat: no-repeat;
    |}
    | @font-face {
    |     font-family: "futura";
    |     src: 
    |         url('https://kathirr007.github.io/Email-workflow-Dev/fonts/FUTURAM.ttf') format('truetype');
    |     font-weight: normal;
    |     font-style: normal;
    | }
    | @font-face {
    |     font-family: "futura-bt-book";
    |     src: url('https://kathirr007.github.io/Email-workflow-Dev/fonts/futura-book-bt.eot');
    |     src: url('https://kathirr007.github.io/Email-workflow-Dev/fonts/futura-book-bt.eot?#iefix') format('embedded-opentype'),
    |     url('https://kathirr007.github.io/Email-workflow-Dev/fonts/futura-book-bt.woff') format('woff'),
    |     url('https://kathirr007.github.io/Email-workflow-Dev/fonts/futura-book-bt.ttf') format('truetype');
    |     font-weight: normal;
    |     font-style: normal;
    | }
    | @font-face {
    |     font-family: "futura-lt-bt";
    |     src: url('https://kathirr007.github.io/Email-workflow-Dev/fonts/FUTURAL.eot');
    |     src: url('https://kathirr007.github.io/Email-workflow-Dev/fonts/FUTURAL.eot?#iefix') format('embedded-opentype'),
    |     url('https://kathirr007.github.io/Email-workflow-Dev/fonts/FUTURAL.ttf') format('truetype');
    |     font-weight: normal;
    |     font-style: normal;
    | }
    | @media screen and (max-width:576px) {
    include ../../../css/screen-and-max-width-576px.css
    | }