table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Footer title contentarea block start
            table.content-table(cellpadding="0" cellspacing="0" width="570")
                tbody
                    // Spacer 10 start
                    tr.hide
                        include ../../_partials/_height10.pug
                    // Spacer 10 end
                    // Spacer 20 start
                    include ../../_partials/_spacer20.pug
                    // Spacer 20 end
                    tr
                        td(valign="top" align="center")
                            table.full(cellpadding="0" cellspacing="0" border="0" width="480" align="center")
                                tbody
                                    tr
                                        td.text-orange.fb-font.px-mob-15(valign='top' align='center' style="font-size:22px; color: #d5a769; font-family: 'futura-m', Arial, Helvetica, sans-serif;").
                                            4 RAZONES PARA COMPRAR EN LÍNEA <br class="hide" />
                                            EN SKINCEUTICALS.COM.MX
                    // Spacer 20 start
                    include ../../_partials/_spacer20.pug
                    // Spacer 20 end
            // Footer title contentarea block end
            // Footer full width content block start
            table.full(cellspacing="0" cellpadding="0" border="0" width="570")
                tr
                    td.p-10.p-mob-15(valign="top" align="center" bgcolor="")
                        table(cellpadding="0" cellspacing="0" width="100%")
                            tr
                                td.coldrop(valign="top" align="center" width="120")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/reasons-img-01.png", alt="")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #000000; font-family:  'futura-bt-book', Arial, Helvetica, sans-serif; font-size: 12px;").
                                                    <span class="fwb" style="font-size:12px;">Envíos rápidos</span> <br />
                                                    todas las órdenes
                                                    se entregan de 3 a 5
                                                    días hábiles
                                td.coldrop(valign="middle" align="center" width="30" height="30")
                                    |&nbsp;
                                td.coldrop(valign="top" align="center" width="120")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/reasons-img-02.png", alt="")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #000000; font-family:  'futura-bt-book', Arial, Helvetica, sans-serif; font-size: 12px;").
                                                    <span class="fwb" style="font-size:12px;">Muestras complementarias</span> <br />
                                                    en todas tus<br />
                                                    compras<br />
                                td.coldrop(valign="middle" align="center" width="30" height="30")
                                    |&nbsp;
                                td.coldrop(valign="top" align="center" width="120")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/reasons-img-03.png", alt="")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #000000; font-family:  'futura-bt-book', Arial, Helvetica, sans-serif; font-size: 12px;").
                                                    <span class="fwb" style="font-size: 12px;">Envío gratis</span> <br />
                                                    en todas las compras<br />
                                                    mayores a $3,000 MXN<br />
                                td.coldrop(valign="middle" align="center" width="30" height="30")
                                    |&nbsp;
                                td.coldrop(valign="top" align="center" width="120")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/reasons-img-04.png", alt="")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #000000; font-family:  'futura-bt-book', Arial, Helvetica, sans-serif; font-size: 12px;").
                                                    <span class="fwb" style="font-size:12px;">Compras</span> <br />
                                                    rápidas, fáciles<br />
                                                    y seguras<br />
            // Footer full width content block end
            // Footer navigation contentares start
            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                tbody
                    tr
                        td(valign="top" align="center")
                            // Spacer 20 contentarea start
                            include ../../_partials/_spacer20-block.pug
                            // Spacer 20 contentarea end
                            // Footer navigation contents start
                            table.full-width.px-mob-15(width="570" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td.spacer.bg-darkblue(valign="top" align="center" height="1" width="100%" bgcolor="#2e9ebe")
                                        |&nbsp;
                                // Spacer 15 start
                                include ../../_partials/_spacer15.pug
                                // Spacer 15 end
                                tr
                                    td(valign='top' align='center')
                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                            tr
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/facebook-icon.png", alt="Facebook")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |@SkinCeuticalsMX
                                                td.spacer.coldrop(valign="top" width="25" height="20")
                                                    |&nbsp;
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/instagram-icon.png", alt="Instagram")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |@SkinCeuticalsMX
                                                td.spacer.coldrop(valign="top" width="25" height="20")
                                                    |&nbsp;
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/youtube-icon.png", alt="Youtube")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family: Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |SkinCeuticals México
                            // Footer navigation contents end
                            // Spacer 20 contentarea start
                            include ../../_partials/_spacer20-block.pug
                            // Spacer 20 contentarea end
            // Footer navigation contentares end