table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                    td.px.mob-15(valign="top" align="center")
                        // Spacer 8 contentarea block start
                        include ../../_partials/_spacer8-block.pug
                        // Spacer 8 contentarea block end
                        // Hero banner block start
                        table.full-width(cellpadding="0" cellspacing="0" border="0" width="570" align="center")
                            tbody
                                tr
                                    // Background Image block start
                                    td.coldrop(valign="middle")
                                        img.imgfull(src="images/hero-img.png", alt="")
                                    td.bg-darkgray.autoheight.autowidth.coldrop.px-15(valign="middle" align="center" bgcolor="#1f1e19" width="251")
                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                            // Spacer 20 start
                                            include ../../_partials/_spacer20.pug
                                            // Spacer 20 end
                                            tr
                                                td.fz-mob-24.fb-font(valign='top' align='center' style="font-size:28px; color: #ffffff; font-family:'futura-bt-book', Arial, Helvetica, sans-serif; font-weight:bold;").
                                                    ¡Enero está por terminar!
                                            // Spacer 5 start
                                            include ../../_partials/_spacer15.pug
                                            // Spacer 5 end
                                            tr
                                                td.fb-font(valign='top' align='center' style="font-size:20px; color: #ffffff; font-family:'futura', Arial, Helvetica, sans-serif;").
                                                    Aprovecha el
                                            // Spacer 5 start
                                            //- include ../../_partials/_spacer5.pug
                                            // Spacer 5 end
                                            tr
                                                td.fb-font(valign='top' align='center' style="font-size:30px; color: #ffffff; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                    NEXT DAY <br />
                                                    DELIVERY
                                            // Spacer 20 start
                                            //- include ../../_partials/_spacer20.pug
                                            // Spacer 20 end
                                            tr
                                                td.fb-font(valign='top' align='center' style="font-size:20px; color: #ffffff; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                    sin mínimo de compra.
                                            // Spacer 35 start
                                            include ../../_partials/_spacer35.pug
                                            // Spacer 35 end
                                            tr
                                                td.fb-font(valign='top' align='center' style="font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;")
                                                    include ./_big-darkblue-cta.pug
                                            // Spacer 20 start
                                            include ../../_partials/_spacer20.pug
                                            // Spacer 20 end
                                        
                        // Hero banner block end