table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        tr
            td.px-mob-15(valign='top' align='center')
                table.full-width(cellpadding="0" cellspacing="0" border="0" width="570")
                    tr
                        td.bg-blue(valign="top" align="center" bgcolor="#009fc1")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="400")
                                // Spacer 30 start
                                include ../../_partials/_spacer30.pug
                                // Spacer 30 end
                                tr
                                    td.px-mob-20.fb-font(valign='top' align='center' style="font-size:22px; color: #ffffff; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        ¡No dejes pasar esta oportunidad!
                                // Spacer 15 start
                                include ../../_partials/_spacer15.pug
                                // Spacer 15 end
                                tr
                                    td.fz-mob-32.px-mob-20.fb-font(valign='top' align='center' style="font-size:20px; color: #ffffff; font-family:'futura', Arial, Helvetica, sans-serif;").
                                        Utiliza el código
                                // Spacer 5 start
                                //- include ../../_partials/_spacer5.pug
                                // Spacer 5 end
                                tr
                                    td.px-mob-20.fb-font(valign='top' align='center' style="font-size:34px; color: #ffffff; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        ENVIO_EXPRESS
                                // Spacer 20 start
                                include ../../_partials/_spacer20.pug
                                // Spacer 20 end
                                tr
                                    td.px-mob-20.fb-font(valign='top' align='center' style="font-size:22px; color: #ffffff; font-family:'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        en nuestro e-commerce y disfruta tus
                                        productos más rápido que nunca.
                                // Spacer 30 start
                                include ../../_partials/_spacer30.pug
                                // Spacer 30 end