doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Email template! | One
        |<!--[if !mso]><!-- -->
        |   <meta http-equiv="X-UA-Compatible" content="IE=edge">
        |<!--<![endif]-->

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- link(href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/one/styles.scss")
        include ./_partials/_head-section.pug
    body
        // Yahoo Wrapper start
        table.wrapper-table.body-bg(cellspacing="0" cellpadding="0" border="0" width="100%")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.content-table(cellpadding="0" cellspacing="0" width="600")
                        tbody
                            // Pre headder start
                            tr
                                td.no-inline(valign="top" align="center")
                                    // Preheader contentarea start
                                    include ./_partials/_pre-header.pug
                                    // Preheader contentarea end
                            // Pre-header end
                            // Main Content block start
                            tr
                                td.no-inline(valign="top" align="center")
                                    // Spacer 20/15 contentarea block start
                                    //- include ../_partials/_spacer-20-15.pug
                                    // Spacer 20/15 contentarea block end
                                    // Hero block / white block contentarea start
                                    include ./_partials/_hero-block.pug
                                    // Hero block / white block contentarea end
                                    // Spacer 20/15 contentarea block start
                                    //- include ../_partials/_spacer-20-15.pug
                                    // Spacer 20/15 contentarea block end
                                    // White block two contentarea start
                                    include ./_partials/_white-block-two-contentarea.pug
                                    // White block two contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // White block three contentarea start
                                    include ./_partials/_white-block-three-contentarea.pug
                                    // White block three contentarea end
                                    // White block three end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // White block four contentarea start
                                    include ./_partials/_white-block-four-contentarea.pug
                                    // White block four contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // White block five contentarea start
                                    include ./_partials/_white-block-five-contentarea.pug
                                    // White block five contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // White block six contentarea start
                                    include ./_partials/_white-block-six-contentarea.pug
                                    // White block six contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // White block seven contentarea start
                                    include ./_partials/_white-block-seven-contentarea.pug
                                    // White block seven contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // White block eight contentarea start
                                    include ./_partials/_white-block-eight-contentarea.pug
                                    // White block eight contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // Footer banner contentarea start
                                    include ./_partials/_footer-banner-contentarea.pug
                                    // Footer banner contentarea end
                                    // Spacer 40/25 contentarea block start
                                    //- include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                                    // Footer white block contentarea start
                                    include ./_partials/_footer-white-block-contentarea.pug
                                    // Footer white block contentarea end
                            // Main Content block end
                            // Footer block start
                            tr
                                td.no-inline.bg-white(valign="top" align="center" bgcolor="#ffffff")
                                    // Footer Divider contentarea start
                                    table(cellpadding="0" cellspacing="0" border="0" align="center")
                                        tr
                                            td(align="center" valign="top")
                                                img.imgfull(src="images/001-footer-seperator.png", alt="")
                                        tr
                                            include ../_partials/_height20.pug
                                        tr
                                            td(align="center" valign="top")
                                                img.imgfull(src="images/001-footer-bg.png", alt="")
                                    // Footer Divider contentarea end
                                    // Spacer 20 contentarea start
                                    //- table(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                    // Spacer 20 contentarea end
                                    // Footer background image contentarea start
                                    //- table(cellpadding="0" cellspacing="0" border="0" align="center")
                                    // Footer background image contentarea end
                            // Footer block end