doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Email template! | One

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- link(href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/one/styles.scss")
        include ./_partials/_head-section.pug
    body
        // Yahoo Wrapper start
        table.wrapper-table.body-bg(cellspacing="0" cellpadding="0" border="0" width="100%")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.content-table(cellpadding="0" cellspacing="0" width="600")
                        tbody
                            // Pre headder start
                            tr
                                td(valign="top" align="center")
                                    // Preheader contentarea start
                                    include ./_partials/_pre-header.pug
                                    // Preheader contentarea end
                            // Pre-header end
                            // Spacer 20/15 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 20/15 contentarea block start
                                    include ../_partials/_spacer-20-15.pug
                                    // Spacer 20/15 contentarea block end
                            // Spacer 20/15 end
                            // Hero block / white block one start
                            tr
                                td(valign="top" align="center")
                                    // Hero block / white block contentarea start
                                    include ./_partials/_hero-block.pug
                                    // Hero block / white block contentarea end
                            // Hero block / white block one end
                            // Spacer 20/15 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 20/15 contentarea block start
                                    include ../_partials/_spacer-20-15.pug
                                    // Spacer 20/15 contentarea block end
                            // Spacer 20/15 end
                            // White block two start
                            tr
                                td(valign="top" align="center")
                                    // White block two contentarea start
                                    include ./_partials/_white-block-two-contentarea.pug
                                    // White block two contentarea end
                            // White block two end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // White block three start
                            tr
                                td(valign="top" align="center")
                                    // White block three contentarea start
                                    include ./_partials/_white-block-three-contentarea.pug
                                    // White block three contentarea end
                            // White block three end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // White block four start
                            tr
                                td(valign="top" align="center")
                                    // White block four contentarea start
                                    include ./_partials/_white-block-four-contentarea.pug
                                    // White block four contentarea end
                            // White block four end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // White block five start
                            tr
                                td(valign="top" align="center")
                                    // White block five contentarea start
                                    include ./_partials/_white-block-five-contentarea.pug
                                    // White block five contentarea end
                            // White block five end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // White block six start
                            tr
                                td(valign="top" align="center")
                                    // White block six contentarea start
                                    include ./_partials/_white-block-six-contentarea.pug
                                    // White block six contentarea end
                            // White block six end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // White block seven start
                            tr
                                td(valign="top" align="center")
                                    // White block seven contentarea start
                                    include ./_partials/_white-block-seven-contentarea.pug
                                    // White block seven contentarea end
                            // White block seven end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // White block eight start
                            tr
                                td(valign="top" align="center")
                                    // White block eight contentarea start
                                    include ./_partials/_white-block-eight-contentarea.pug
                                    // White block eight contentarea end
                            // White block eight end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // Footer banner start
                            tr
                                td(valign="top" align="center")
                                    // Footer banner contentarea start
                                    include ./_partials/_footer-banner-contentarea.pug
                                    // Footer banner contentarea end
                            // Footer banner end
                            // Spacer 40/25 start
                            tr
                                td(valign="top" align="center")
                                    // Spacer 40/25 contentarea block start
                                    include ../_partials/_spacer-40-25.pug
                                    // Spacer 40/25 contentarea block end
                            // Spacer 40/25 end
                            // Footer white block start
                            tr
                                td.bg-white(valign="top" align="center" bgcolor="#ffffff")
                                    // Footer white block contentarea start
                                    include ./_partials/_footer-white-block-contentarea.pug
                                    // Footer white block contentarea end
                            // Footer white block end