tr
    td(align="center" valign="middle")
        table.autowidth(cellpadding="0" cellspacing="0" border="0" align="center")
            tbody
                tr
                    td.hide(width="10" align="left")
                        a(href="https://www.samplelink.com" target="_blank")
                            img(src="images/004-big-red-cta-left.png", alt="")
                    td.text-white.text-center(align="center" valign="middle" style="font-family: Arial, Helvetica, sans-serif;")
                        a.autoheight.rounded-30.bg-red.text-white.p-15(href="https://www.samplelink.com" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; color: #ffffff; display: table-cell; height: 60px; vertical-align: middle;")
                            |Comienza a comprar &gt;
                    td.hide(width="10" align="right")
                        a(href="https://www.samplelink.com" target="_blank")
                            img(src="images/004-big-red-cta-right.png", alt="")