table.align-center(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        tr
            td.bg-darkblue.p-o-10(valign="middle" align="center" bgcolor="#2e9ebe")
                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                    tr
                        td(valign="middle" width="34" align="left" style="font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center; font-weight: bold;")
                            a.text-white.py-10.pl-20.py-10(href="https://www.samplelink.com" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                img(src="images/cart-icon.png", align="absmiddle" alt="cart" style="display: inline-block; vertical-align: middle; margin-right: 5px;")
                        td(valign="middle" align="left" style="font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center; font-weight: bold;")
                            a.text-white.py-10.pr-20.py-10(href="https://www.samplelink.com" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                span.text-white.fb-font(style="font-family: Arial, Helvetica, sans-serif; font-size:16px;")
                                    |Completar orden