table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Footer title contentarea block start
            table.content-table(cellpadding="0" cellspacing="0" width="600")
                tbody
                    // Spacer 10 start
                    tr.hide
                        include ../../_partials/_height10.pug
                    // Spacer 10 end
                    // Spacer 20 start
                    include ../../_partials/_spacer20.pug
                    // Spacer 20 end
                    tr
                        td(valign="top" align="center")
                            table.full(cellpadding="0" cellspacing="0" border="0" width="480" align="center")
                                tbody
                                    tr
                                        td.text-darkblue.fb-font.px-mob-15(valign='top' align='center' style="font-size:22px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif;").
                                            ¿POR QUÉ COMPRAR CON NOSOTROS?
                    // Spacer 20 start
                    include ../../_partials/_spacer20.pug
                    // Spacer 20 end
            // Footer title contentarea block end
            // Footer full width content block start
            table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                    td.p-10.p-mob-15.bg-darkgray(valign="top" align="center" bgcolor="#322e2b")
                        table.content-table(cellpadding="0" cellspacing="0" width="600")
                            tr
                                td.coldrop(valign="top" align="center" width="187")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/guarantee-icon.png", alt="GARANTIZADO")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #ffffff; font-family: 'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; font-size: 12px;")
                                                    strong.fb-font(style="font-family: 'futura', Arial, Helvetica, sans-serif;")
                                                        | GARANTIZADO
                                                    br
                                                    | Recomendada por dermatólogos
                                                    | y cirujanos plásticos selectos
                                td.py-mob-15.coldrop(valign="middle" align="center" width="45")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tr
                                            td.autoheight.spacer.bg-white(valign="middle" align="center" bgcolor="#ffffff" width="1" height="42")
                                                |&nbsp;
                                td.coldrop(valign="top" align="center" width="120")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/lock-icon.png", alt="PAGO SEGURO")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #ffffff; font-family: 'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; font-size: 12px;")
                                                    strong.fb-font(style="font-family: 'futura', Arial, Helvetica, sans-serif;")
                                                        | PAGO SEGURO
                                                    br
                                                    | Con tarjetas de crédito
                                                    | y PayPal
                                td.py-mob-15.coldrop(valign="middle" align="center" width="45")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tr
                                            td.autoheight.spacer.bg-white(valign="middle" align="center" bgcolor="#ffffff" width="1" height="42")
                                                |&nbsp;
                                td.coldrop(valign="top" align="center" width="160")
                                    table.full(cellpadding="0" cellspacing="0" width="" align="center")
                                        tbody
                                            tr
                                                td(valign="top" align="center")
                                                    img(src="images/dealer-icon.png", alt="DISTRIBUIDOR AUTORIZADO")
                                            // Spacer 10 start
                                            include ../../_partials/_spacer10.pug
                                            // Spacer 10 end
                                            tr
                                                td.text-white.fb-font(valign="top" align="center" style="color: #ffffff; font-family: 'futura-bt-book', 'futura', Arial, Helvetica, sans-serif; font-size: 12px;")
                                                    strong.fb-font(style="font-family: 'futura', Arial, Helvetica, sans-serif;")
                                                        | DISTRIBUIDOR AUTORIZADO
                                                    br
                                                    | Puedes comprar
                                                    br
                                                    | con confianza
            // Footer full width content block end
            // Footer navigation contentares start
            table(cellpadding="0" cellspacing="0" border="0" width="100%")
                tbody
                    tr
                        td(valign="top" align="center")
                            // Spacer 20 contentarea start
                            include ../../_partials/_spacer20-block.pug
                            // Spacer 20 contentarea end
                            // Footer navigation contents start
                            table.full-width.px-mob-15(width="600" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td.spacer.bg-darkblue(valign="top" align="center" height="1" width="100%" bgcolor="#2e9ebe")
                                        |&nbsp;
                                // Spacer 15 start
                                include ../../_partials/_spacer15.pug
                                // Spacer 15 end
                                tr
                                    td(valign='top' align='center')
                                        table.align-center(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                            tr
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/facebook-icon.png", alt="Facebook")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |@SkinCeuticalsMX
                                                td.spacer.coldrop(valign="top" width="25" height="20")
                                                    |&nbsp;
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/instagram-icon.png", alt="Instagram")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |@SkinCeuticalsMX
                                                td.spacer.coldrop(valign="top" width="25" height="20")
                                                    |&nbsp;
                                                td.text-center.coldrop(valign='top' align='left')
                                                    table.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                        tr
                                                            td.pr-10(valign="top" align="center")
                                                                a(href="https://www.samplelink.com" target="_blank")
                                                                    img(src="images/youtube-icon.png", alt="Youtube")
                                                            td(valign="middle" align="left" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                a.fb-font(href="https://www.samplelink.com" target="_blank" style="font-size:14px; color: #2e9ebe; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center;")
                                                                    |SkinCeuticals México
                            // Footer navigation contents end
                            // Spacer 20 contentarea start
                            include ../../_partials/_spacer20-block.pug
                            // Spacer 20 contentarea end
            // Footer navigation contentares end