table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Hero header block start
            table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                    td.bg-darkblue(valign="top" align="center" bgcolor="#2e9ebe")
                        // Spacer 8 contentarea block start
                        include ../../_partials/_spacer8-block.pug
                        // Spacer 8 contentarea block end
                        // Hero header block text start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td(valign="top" align="center")
                                        table.autowidth.px-mob-15(cellpadding="0" cellspacing="0" border="0" width="520")
                                            tr
                                                td(valign="middle" align="left" width="24")
                                                    a(href="https://www.samplelink.com" target="_blank")
                                                        img(src="images/store-icon.png", alt="Store")
                                                td.text-white.fb-font.px-mob-15(valign='middle' align='center' style="font-family:'futura', Arial, Helvetica, sans-serif; font-size:12px; color: #ffffff;").
                                                    DISFRUTA ENVÍO GRATIS EN TUS COMPRAS MAYORES A $3,000
                                                td(valign="middle" align="right" width="24")
                                                    a(href="https://www.samplelink.com" target="_blank")
                                                        img(src="images/store-icon.png", alt="Store")
                        // Hero header block text end
                        // Spacer 8 contentarea block start
                        include ../../_partials/_spacer8-block.pug
                        // Spacer 8 contentarea block end
                        // Hero header block end
                        // Hero banner block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    // Background Image block start
                                    td.autoheight.full-width.py-mob-15.bg-responsive.hero-bg-mob(bgcolor="#daedfc" style="background-image: url(images/hero-banner.png);" background="images/hero-banner.png" width="640" height="160" valign="middle" align="center")
                                        <!--[if gte mso 9]><v:rect style="width: 640px; height:160px;" strokecolor="none"><v:fill type="tile" color="#daedfc" src="images/hero-banner.png"></v:fill></v:rect><v:shape id="heroBanner" style="position: absolute; width: 640px; height:160px;"><![endif]-->
                                        // Content inside background start
                                        table.full-width.transparent-black-50(width="100%" border="0" cellspacing="0" cellpadding="0")
                                            tr
                                                td(valign='top' align='center')
                                                    // Spacer 18 contentarea block start
                                                    include ../../_partials/_spacer18-block.pug
                                                    // Spacer 18 contentarea block end
                                                    table.align-center.full(border='0' cellspacing='0' cellpadding='0' align='center' width="520")
                                                        tbody
                                                            tr
                                                                td(valign='top' align='center')
                                                                    table.px-mob-15.align-center(border='0' cellspacing='0' cellpadding='0' align='center')
                                                                        tr
                                                                            td.text-white.fz-mob-16.fb-font(valign='top' align='center' style="font-family:'futura', Arial, Helvetica, sans-serif; font-size:22px; color: #ffffff; font-weight:bold; letter-spacing:2px").
                                                                                TUS PRODUCTOS TE ESTÁN ESPERANDO
                                                                        include ../../_partials/_spacer5.pug
                                                                        tr
                                                                            td.text-white.fb-font.fz-mob-14(valign='top' align='center' style="font-family:'futura', Arial, Helvetica, sans-serif; font-size:16px; color: #ffffff; letter-spacing:2px").
                                                                                Notamos que olvidaste algo. Pero no te preocupes, lo guardamos para ti. Termina tu compra con confianza.
                                                    // Spacer 10 contentarea block start
                                                    include ../../_partials/_spacer10-block.pug
                                                    // Spacer 10 contentarea block end
                                        // Content inside background end
                                        <!--[if gte mso 9]></v:shape><![endif]-->
                                    // Background Image block end
                        // Hero banner block end