doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title Email template | Fifteen
        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        //- link(rel="stylesheet", href="../../sass/bootstrap/bootstrap-utilities.css")
        //- <link href="https://www.fontify.me/wf/f946b4b65d460845102e6e8994d8e699" rel="stylesheet" type="text/css">
        link(rel="stylesheet", href="../../sass/basic-email-styles.scss")
        link(rel="stylesheet", href="../../sass/basic.scss")
        link(rel="stylesheet", href="../../sass/fourteen/style.scss")
        //- embdedded css allowed, but not sass
        include ./_partials/_custom-fonts-and-mobile-styles.pug
        include ../_partials/_internal-and-conditional-styles.pug
    body.bg-white
        // Yahoo Wrapper start
        table.email-wrapper-table.bg-white(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff")
            tr
                td(align="center" valign="top")
                    // Gmail Wrapper start
                    table.full(cellpadding="0" cellspacing="0" width="650")
                        tbody
                            tr
                                td(valign="top" align="center")
                                    // Header block start
                                    include ./_partials/_header-block.pug
                                    // Header block end
                                    // Hero E block start
                                    include ./_partials/_hero-e-block.pug
                                    // Hero E block end
                                    // Block Body D start
                                    include ./_partials/_body-d-block.pug
                                    // Block Body D end
                                    // Block Body E start
                                    include ./_partials/_body-e-block.pug
                                    // Block Body E end
                                    // Block Body F start
                                    include ./_partials/_body-f-block.pug
                                    // Block Body F end
                                    // Footer block start
                                    include ./_partials/_footer-block.pug
                                    // Footer block end