table tr td h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px 25px;
  letter-spacing: 0.5px;
}

.text-black {
  color: #010101;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #6c6c6c;
}

.text-blue {
  color: #7c22c9;
}

.bg-red {
  background-color: #E84C50;
}

.bg-blue {
  background-color: #7c22c9;
}

.bg-lightgray {
  background-color: #f6f4f9;
}

.bg-lightblue {
  background-color: #e4d5f2;
}

.bg-lightpink {
  background-color: #f2e8f9;
}

.body-bg {
  background-color: #f6f6f6;
}

v
.bg-gray {
  background-color: #f6f6f6;
}

/* .ff-lato {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.ff-latobold {
    font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ff-latoblack {
    font-family: 'Lato Black', Arial, Helvetica, sans-serif;
    font-weight: bold;
} */

.hero-heading {
  font-size: 32px;
  font-weight: bold;
}

.hero-content {
  font-size: 18px;
}

.cta-blue {
  color: #ffffff;
}

.block-heading {
  font-size: 25px;
  font-weight: bold;
}

.promo-preheader {
  font-size: 12px;
  font-weight: bold;
}

.promo-offer-text {
  font-size: 30px;
  font-weight: bold;
}

.promo-text {
  font-size: 16px;
}

.promo-text-02 {
  font-size: 18px;
}

.cta {
  font-size: 12px;
  font-weight: bold;
}

.cta.big-cta {
  font-size: 18px;
}