table.full(cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff")
    tr
        td.py-30.px-40.p-mob-15(valign="top" align="center")
            table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                    td.coldrop(valign="middle" align="center" bgcolor="#ffffff")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="")
                                tr
                                    td(valign='middle')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="left" style="font-size:14px; color: #8b8b8c; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        HEADER 2
                                                // Spacer 5 start
                                                include ../../_partials/_spacer5.pug
                                                // Spacer 5 end
                                                tr
                                                    td.fb-font.fz-mob-18.text-center.ls-1(valign='top' align="left" style="font-size:20px; color: #010101; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left; font-weight: bold;").
                                                        HEADER 1
                                                // Spacer 15 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 15 end
                                                tr
                                                    td(valign='top' align="left")
                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                            tbody
                                                                tr
                                                                    td.text-black.fb-font.text-center(valign='top' align="left" style="font-size:14px; color: #010101; font-family:'futura', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                                                // Spacer 15 start
                                                                include ../../_partials/_spacer15.pug
                                                                // Spacer 15 end
                    td.coldrop.spacer(valign="middle" width="15" height="20")
                        |&nbsp;
                    td.coldrop(valign="middle" align="center")
                        table.full(cellspacing="0" cellpadding="0" border="0" width="230")
                            tr
                                td(valign="middle" align="center")
                                    a(href="https://www.samplelink.com" target="_blank")
                                        img(src="images/block-body-e-img-01.png", alt="")
                tr
                    td(colspan="3" height="40")
                        |&nbsp;
                tr
                    td.coldrop(valign="middle" align="center" bgcolor="#ffffff")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="")
                                tr
                                    td(valign='middle')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="left" style="font-size:14px; color: #8b8b8c; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        HEADER 2
                                                // Spacer 5 start
                                                include ../../_partials/_spacer5.pug
                                                // Spacer 5 end
                                                tr
                                                    td.fb-font.fz-mob-18.text-center.ls-1(valign='top' align="left" style="font-size:20px; color: #010101; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left; font-weight: bold;").
                                                        HEADER 1
                                                // Spacer 15 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 15 end
                                                tr
                                                    td(valign='top' align="left")
                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                            tbody
                                                                tr
                                                                    td.text-black.fb-font.text-center(valign='top' align="left" style="font-size:14px; color: #010101; font-family:'futura', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                                                // Spacer 15 start
                                                                include ../../_partials/_spacer15.pug
                                                                // Spacer 15 end
                    td.coldrop.spacer(valign="middle" width="15" height="20")
                        |&nbsp;
                    td.coldrop(valign="middle" align="center")
                        table.full(cellspacing="0" cellpadding="0" border="0" width="230")
                            tr
                                td(valign="middle" align="center")
                                    a(href="https://www.samplelink.com" target="_blank")
                                        img(src="images/block-body-e-img-01.png", alt="")
                tr
                    td(colspan="3" height="40")
                        |&nbsp;
                tr
                    td.coldrop(valign="middle" align="center" bgcolor="#ffffff")
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="")
                                tr
                                    td(valign='middle')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td.fb-font.text-center.ls-1(valign='top' align="left" style="font-size:14px; color: #8b8b8c; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                        HEADER 2
                                                // Spacer 5 start
                                                include ../../_partials/_spacer5.pug
                                                // Spacer 5 end
                                                tr
                                                    td.fb-font.fz-mob-18.text-center.ls-1(valign='top' align="left" style="font-size:20px; color: #010101; letter-spacing:2px; font-family:'futura', Arial, Helvetica, sans-serif; text-align: left; font-weight: bold;").
                                                        HEADER 1
                                                // Spacer 15 start
                                                include ../../_partials/_spacer10.pug
                                                // Spacer 15 end
                                                tr
                                                    td(valign='top' align="left")
                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                            tbody
                                                                tr
                                                                    td.text-black.fb-font.text-center(valign='top' align="left" style="font-size:14px; color: #010101; font-family:'futura', 'futura', Arial, Helvetica, sans-serif; text-align: left;").
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                                                // Spacer 15 start
                                                                include ../../_partials/_spacer15.pug
                                                                // Spacer 15 end
                    td.coldrop.spacer(valign="middle" width="15" height="20")
                        |&nbsp;
                    td.coldrop(valign="middle" align="center")
                        table.full(cellspacing="0" cellpadding="0" border="0" width="230")
                            tr
                                td(valign="middle" align="center")
                                    a(href="https://www.samplelink.com" target="_blank")
                                        img(src="images/block-body-e-img-01.png", alt="")