td[class~=coldrop] {
  display: table-cell !important;
  width: auto;
  padding: inherit !important;
}

.arrange-top {
  display: table-cell !important;
}

.arrange-bottom {
  display: table-cell !important;
}