.wrapper-table {
  width: 100%;
}

.content-table {
  width: 95%;
}

*[class~=full] {
  width: 100% !important;
  min-width: 100% !important;
}

*[class~=contents] {
  width: 89.14728682% !important;
}

*[class~=hide] {
  display: none;
}

*[class~=show] {
  display: block !important;
  font-size: inherit !important;
  max-height: none !important;
  width: auto !important;
  line-height: normal !important;
  overflow: visible !important;
}

*[class~=imgfull] {
  width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
}

*[class~=text-center] {
  text-align: center !important;
}

*[class~=align-center] {
  float: none !important;
  margin: 0 auto !important;
}

*[class~=align-right] {
  float: right !important;
}

*[class~=align-left] {
  float: left !important;
}

td[class~=coldrop] {
  display: block;
  width: 100%;
  padding: 0px;
}

.arrange-top {
  display: table-header-group;
}

.arrange-bottom {
  display: table-footer-group;
}

*[class=autoheight] {
  height: auto !important;
}

*[class~=autowidth] {
  width: auto !important;
}

*[class~=autowidthheight] {
  width: auto !important;
  height: auto !important;
}

body[yahoo] *[class~=no-bg] {
  background: none !important;
  background-color: #ffffff !important;
}

body[yahoo] *[class~=top-banner] {
  width: 100% !important;
  background-size: cover !important;
  background-position: 100% top !important;
}

/* Text styles start */

.fz-mob-8 {
  font-size: 8px !important;
}

.fz-mob-9 {
  font-size: 9px !important;
}

.fz-mob-10 {
  font-size: 10px !important;
}

.fz-mob-11 {
  font-size: 11px !important;
}

.fz-mob-12 {
  font-size: 12px !important;
}

.fz-mob-13 {
  font-size: 13px !important;
}

.fz-mob-14 {
  font-size: 14px !important;
}

.fz-mob-15 {
  font-size: 15px !important;
}

.fz-mob-16 {
  font-size: 16px !important;
}

.fz-mob-17 {
  font-size: 17px !important;
}

.fz-mob-18 {
  font-size: 18px !important;
}

.fz-mob-19 {
  font-size: 19px !important;
}

.fz-mob-20 {
  font-size: 20px !important;
}

.fz-mob-21 {
  font-size: 21px !important;
}

.fz-mob-22 {
  font-size: 22px !important;
}

.fz-mob-23 {
  font-size: 23px !important;
}

.fz-mob-24 {
  font-size: 24px !important;
}

.fz-mob-25 {
  font-size: 25px !important;
}

.fz-mob-26 {
  font-size: 26px !important;
}

.fz-mob-27 {
  font-size: 27px !important;
}

.fz-mob-28 {
  font-size: 28px !important;
}

.fz-mob-29 {
  font-size: 29px !important;
}

.fz-mob-30 {
  font-size: 30px !important;
}

.fz-mob-31 {
  font-size: 31px !important;
}

.fz-mob-32 {
  font-size: 32px !important;
}

.fz-mob-33 {
  font-size: 33px !important;
}

.fz-mob-34 {
  font-size: 34px !important;
}

.fz-mob-35 {
  font-size: 35px !important;
}

.fz-mob-36 {
  font-size: 36px !important;
}

.fz-mob-37 {
  font-size: 37px !important;
}

.fz-mob-38 {
  font-size: 38px !important;
}

.fz-mob-39 {
  font-size: 39px !important;
}

.fz-mob-40 {
  font-size: 40px !important;
}

.fz-mob-41 {
  font-size: 41px !important;
}

.fz-mob-42 {
  font-size: 42px !important;
}

.fz-mob-43 {
  font-size: 43px !important;
}

.fz-mob-44 {
  font-size: 44px !important;
}

.fz-mob-45 {
  font-size: 45px !important;
}

.fz-mob-46 {
  font-size: 46px !important;
}

.fz-mob-47 {
  font-size: 47px !important;
}

.fz-mob-48 {
  font-size: 48px !important;
}

.fz-mob-49 {
  font-size: 49px !important;
}

.fz-mob-50 {
  font-size: 50px !important;
}

/* Text styles end */

.rounded-3 {
  border-radius: 3px;
}

.rounded-top-3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.rounded-right-3 {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded-bottom-3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded-left-3 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-top-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rounded-right-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-bottom-4 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-left-4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-top-5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rounded-right-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-bottom-5 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-left-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-top-6 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.rounded-right-6 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded-bottom-6 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded-left-6 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rounded-7 {
  border-radius: 7px;
}

.rounded-top-7 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.rounded-right-7 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.rounded-bottom-7 {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.rounded-left-7 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-top-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rounded-right-8 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-bottom-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-left-8 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-9 {
  border-radius: 9px;
}

.rounded-top-9 {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.rounded-right-9 {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.rounded-bottom-9 {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.rounded-left-9 {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-top-10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded-right-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-bottom-10 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-left-10 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-11 {
  border-radius: 11px;
}

.rounded-top-11 {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.rounded-right-11 {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.rounded-bottom-11 {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.rounded-left-11 {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-top-12 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.rounded-right-12 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.rounded-bottom-12 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.rounded-left-12 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rounded-13 {
  border-radius: 13px;
}

.rounded-top-13 {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.rounded-right-13 {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.rounded-bottom-13 {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.rounded-left-13 {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.rounded-14 {
  border-radius: 14px;
}

.rounded-top-14 {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.rounded-right-14 {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.rounded-bottom-14 {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.rounded-left-14 {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.rounded-15 {
  border-radius: 15px;
}

.rounded-top-15 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rounded-right-15 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-bottom-15 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-left-15 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-top-16 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.rounded-right-16 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.rounded-bottom-16 {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.rounded-left-16 {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rounded-17 {
  border-radius: 17px;
}

.rounded-top-17 {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.rounded-right-17 {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.rounded-bottom-17 {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.rounded-left-17 {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.rounded-18 {
  border-radius: 18px;
}

.rounded-top-18 {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.rounded-right-18 {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.rounded-bottom-18 {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.rounded-left-18 {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.rounded-19 {
  border-radius: 19px;
}

.rounded-top-19 {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.rounded-right-19 {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.rounded-bottom-19 {
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.rounded-left-19 {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-top-20 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-right-20 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-bottom-20 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-left-20 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rounded-21 {
  border-radius: 21px;
}

.rounded-top-21 {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.rounded-right-21 {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

.rounded-bottom-21 {
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.rounded-left-21 {
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}

.rounded-22 {
  border-radius: 22px;
}

.rounded-top-22 {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.rounded-right-22 {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.rounded-bottom-22 {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.rounded-left-22 {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.rounded-23 {
  border-radius: 23px;
}

.rounded-top-23 {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.rounded-right-23 {
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.rounded-bottom-23 {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.rounded-left-23 {
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.rounded-24 {
  border-radius: 24px;
}

.rounded-top-24 {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.rounded-right-24 {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.rounded-bottom-24 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.rounded-left-24 {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.rounded-25 {
  border-radius: 25px;
}

.rounded-top-25 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.rounded-right-25 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.rounded-bottom-25 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.rounded-left-25 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.rounded-10-top-right {
  border-top-right-radius: 10px;
}

.m-mob-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.m-mob-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.m-mob-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.m-mob-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.m-mob-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.m-mob-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.m-mob-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.m-mob-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.m-mob-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.m-mob-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
  margin-right: 45px !important;
  margin-left: 45px !important;
}

.m-mob-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.mt-mob-5 {
  margin-top: 5px !important;
}

.mx-mob-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.my-mob-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mt-mob-10 {
  margin-top: 10px !important;
}

.mx-mob-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-mob-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mt-mob-15 {
  margin-top: 15px !important;
}

.mx-mob-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.my-mob-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mt-mob-20 {
  margin-top: 20px !important;
}

.mx-mob-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-mob-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt-mob-25 {
  margin-top: 25px !important;
}

.mx-mob-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.my-mob-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mt-mob-30 {
  margin-top: 30px !important;
}

.mx-mob-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-mob-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mt-mob-35 {
  margin-top: 35px !important;
}

.mx-mob-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-mob-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mt-mob-40 {
  margin-top: 40px !important;
}

.mx-mob-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-mob-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mt-mob-45 {
  margin-top: 45px !important;
}

.mx-mob-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.my-mob-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mt-mob-50 {
  margin-top: 50px !important;
}

.mx-mob-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-mob-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mb-mob-5 {
  margin-bottom: 5px !important;
}

.mx-mob-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.my-mob-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mb-mob-10 {
  margin-bottom: 10px !important;
}

.mx-mob-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-mob-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mb-mob-15 {
  margin-bottom: 15px !important;
}

.mx-mob-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.my-mob-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mb-mob-20 {
  margin-bottom: 20px !important;
}

.mx-mob-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-mob-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mb-mob-25 {
  margin-bottom: 25px !important;
}

.mx-mob-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.my-mob-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mb-mob-30 {
  margin-bottom: 30px !important;
}

.mx-mob-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-mob-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mb-mob-35 {
  margin-bottom: 35px !important;
}

.mx-mob-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-mob-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mb-mob-40 {
  margin-bottom: 40px !important;
}

.mx-mob-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-mob-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mb-mob-45 {
  margin-bottom: 45px !important;
}

.mx-mob-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.my-mob-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mb-mob-50 {
  margin-bottom: 50px !important;
}

.mx-mob-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-mob-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mr-mob-5 {
  margin-right: 5px !important;
}

.mx-mob-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.my-mob-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mr-mob-10 {
  margin-right: 10px !important;
}

.mx-mob-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-mob-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mr-mob-15 {
  margin-right: 15px !important;
}

.mx-mob-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.my-mob-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mr-mob-20 {
  margin-right: 20px !important;
}

.mx-mob-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-mob-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mr-mob-25 {
  margin-right: 25px !important;
}

.mx-mob-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.my-mob-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mr-mob-30 {
  margin-right: 30px !important;
}

.mx-mob-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-mob-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mr-mob-35 {
  margin-right: 35px !important;
}

.mx-mob-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-mob-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mr-mob-40 {
  margin-right: 40px !important;
}

.mx-mob-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-mob-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mr-mob-45 {
  margin-right: 45px !important;
}

.mx-mob-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.my-mob-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mr-mob-50 {
  margin-right: 50px !important;
}

.mx-mob-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-mob-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.ml-mob-5 {
  margin-left: 5px !important;
}

.mx-mob-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.my-mob-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.ml-mob-10 {
  margin-left: 10px !important;
}

.mx-mob-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-mob-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ml-mob-15 {
  margin-left: 15px !important;
}

.mx-mob-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.my-mob-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.ml-mob-20 {
  margin-left: 20px !important;
}

.mx-mob-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-mob-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.ml-mob-25 {
  margin-left: 25px !important;
}

.mx-mob-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.my-mob-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.ml-mob-30 {
  margin-left: 30px !important;
}

.mx-mob-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-mob-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.ml-mob-35 {
  margin-left: 35px !important;
}

.mx-mob-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-mob-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.ml-mob-40 {
  margin-left: 40px !important;
}

.mx-mob-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-mob-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.ml-mob-45 {
  margin-left: 45px !important;
}

.mx-mob-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.my-mob-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.ml-mob-50 {
  margin-left: 50px !important;
}

.mx-mob-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-mob-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.rounded-3 {
  border-radius: 3px;
}

.rounded-top-3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.rounded-right-3 {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded-bottom-3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded-left-3 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-top-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rounded-right-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-bottom-4 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-left-4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-top-5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rounded-right-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-bottom-5 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-left-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-top-6 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.rounded-right-6 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded-bottom-6 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded-left-6 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rounded-7 {
  border-radius: 7px;
}

.rounded-top-7 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.rounded-right-7 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.rounded-bottom-7 {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.rounded-left-7 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-top-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rounded-right-8 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-bottom-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-left-8 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-9 {
  border-radius: 9px;
}

.rounded-top-9 {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.rounded-right-9 {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.rounded-bottom-9 {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.rounded-left-9 {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-top-10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded-right-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-bottom-10 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-left-10 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-11 {
  border-radius: 11px;
}

.rounded-top-11 {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.rounded-right-11 {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.rounded-bottom-11 {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.rounded-left-11 {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-top-12 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.rounded-right-12 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.rounded-bottom-12 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.rounded-left-12 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rounded-13 {
  border-radius: 13px;
}

.rounded-top-13 {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.rounded-right-13 {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.rounded-bottom-13 {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.rounded-left-13 {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.rounded-14 {
  border-radius: 14px;
}

.rounded-top-14 {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.rounded-right-14 {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.rounded-bottom-14 {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.rounded-left-14 {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.rounded-15 {
  border-radius: 15px;
}

.rounded-top-15 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rounded-right-15 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-bottom-15 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-left-15 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-top-16 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.rounded-right-16 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.rounded-bottom-16 {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.rounded-left-16 {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rounded-17 {
  border-radius: 17px;
}

.rounded-top-17 {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.rounded-right-17 {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.rounded-bottom-17 {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.rounded-left-17 {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.rounded-18 {
  border-radius: 18px;
}

.rounded-top-18 {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.rounded-right-18 {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.rounded-bottom-18 {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.rounded-left-18 {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.rounded-19 {
  border-radius: 19px;
}

.rounded-top-19 {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.rounded-right-19 {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.rounded-bottom-19 {
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.rounded-left-19 {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-top-20 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-right-20 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-bottom-20 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-left-20 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rounded-21 {
  border-radius: 21px;
}

.rounded-top-21 {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.rounded-right-21 {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

.rounded-bottom-21 {
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.rounded-left-21 {
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}

.rounded-22 {
  border-radius: 22px;
}

.rounded-top-22 {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.rounded-right-22 {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.rounded-bottom-22 {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.rounded-left-22 {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.rounded-23 {
  border-radius: 23px;
}

.rounded-top-23 {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.rounded-right-23 {
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.rounded-bottom-23 {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.rounded-left-23 {
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.rounded-24 {
  border-radius: 24px;
}

.rounded-top-24 {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.rounded-right-24 {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.rounded-bottom-24 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.rounded-left-24 {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.rounded-25 {
  border-radius: 25px;
}

.rounded-top-25 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.rounded-right-25 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.rounded-bottom-25 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.rounded-left-25 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.p-mob-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.p-mob-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.p-mob-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.p-mob-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.p-mob-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.p-mob-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.p-mob-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.p-mob-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.p-mob-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.p-mob-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.p-mob-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.pt-mob-5 {
  padding-top: 5px !important;
}

.px-mob-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.py-mob-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pt-mob-10 {
  padding-top: 10px !important;
}

.px-mob-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-mob-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pt-mob-15 {
  padding-top: 15px !important;
}

.px-mob-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-mob-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pt-mob-20 {
  padding-top: 20px !important;
}

.px-mob-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-mob-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pt-mob-25 {
  padding-top: 25px !important;
}

.px-mob-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.py-mob-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pt-mob-30 {
  padding-top: 30px !important;
}

.px-mob-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-mob-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pt-mob-35 {
  padding-top: 35px !important;
}

.px-mob-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.py-mob-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pt-mob-40 {
  padding-top: 40px !important;
}

.px-mob-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-mob-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pt-mob-45 {
  padding-top: 45px !important;
}

.px-mob-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-mob-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pt-mob-50 {
  padding-top: 50px !important;
}

.px-mob-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-mob-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pb-mob-5 {
  padding-bottom: 5px !important;
}

.px-mob-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.py-mob-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pb-mob-10 {
  padding-bottom: 10px !important;
}

.px-mob-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-mob-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pb-mob-15 {
  padding-bottom: 15px !important;
}

.px-mob-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-mob-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pb-mob-20 {
  padding-bottom: 20px !important;
}

.px-mob-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-mob-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pb-mob-25 {
  padding-bottom: 25px !important;
}

.px-mob-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.py-mob-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pb-mob-30 {
  padding-bottom: 30px !important;
}

.px-mob-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-mob-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pb-mob-35 {
  padding-bottom: 35px !important;
}

.px-mob-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.py-mob-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pb-mob-40 {
  padding-bottom: 40px !important;
}

.px-mob-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-mob-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pb-mob-45 {
  padding-bottom: 45px !important;
}

.px-mob-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-mob-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pb-mob-50 {
  padding-bottom: 50px !important;
}

.px-mob-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-mob-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pr-mob-5 {
  padding-right: 5px !important;
}

.px-mob-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.py-mob-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pr-mob-10 {
  padding-right: 10px !important;
}

.px-mob-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-mob-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pr-mob-15 {
  padding-right: 15px !important;
}

.px-mob-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-mob-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pr-mob-20 {
  padding-right: 20px !important;
}

.px-mob-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-mob-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pr-mob-25 {
  padding-right: 25px !important;
}

.px-mob-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.py-mob-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pr-mob-30 {
  padding-right: 30px !important;
}

.px-mob-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-mob-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pr-mob-35 {
  padding-right: 35px !important;
}

.px-mob-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.py-mob-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pr-mob-40 {
  padding-right: 40px !important;
}

.px-mob-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-mob-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pr-mob-45 {
  padding-right: 45px !important;
}

.px-mob-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-mob-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pr-mob-50 {
  padding-right: 50px !important;
}

.px-mob-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-mob-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pl-mob-5 {
  padding-left: 5px !important;
}

.px-mob-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.py-mob-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pl-mob-10 {
  padding-left: 10px !important;
}

.px-mob-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-mob-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pl-mob-15 {
  padding-left: 15px !important;
}

.px-mob-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-mob-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pl-mob-20 {
  padding-left: 20px !important;
}

.px-mob-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-mob-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pl-mob-25 {
  padding-left: 25px !important;
}

.px-mob-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.py-mob-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pl-mob-30 {
  padding-left: 30px !important;
}

.px-mob-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-mob-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pl-mob-35 {
  padding-left: 35px !important;
}

.px-mob-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.py-mob-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pl-mob-40 {
  padding-left: 40px !important;
}

.px-mob-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-mob-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pl-mob-45 {
  padding-left: 45px !important;
}

.px-mob-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-mob-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pl-mob-50 {
  padding-left: 50px !important;
}

.px-mob-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-mob-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

*[class~=padding-lr10] {
  padding: 0px 10px 0px 10px !important;
}

*[class~=padding-t10] {
  padding: 10px 0px 0px 0px !important;
}

*[class~=nopad] {
  padding: 0px 0px 0px 0px !important;
}

*[class~=margin-b10] {
  margin-bottom: 10px !important;
}

*[class~=margin-t10] {
  margin-top: 10px !important;
}

*[class~=height20] {
  height: 20px !important;
}

*[class~=height15] {
  height: 15px !important;
}

*[class~=height10] {
  height: 10px !important;
}

*[class~=height5] {
  height: 5px !important;
}