table.align-center(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        tr
            td(valign="top" align="center")
                table.align-center.full(border='0' cellspacing='0' cellpadding='0' align='center' width="")
                    tr
                        td.text-center(valign='middle' align='left' style="font-family:'futura', Arial, Helvetica, sans-serif; font-size:16px; color: #424242;")
                            a.py-15(href="https://www.samplelink.com" target="_blank" style="font-family:'futura', Arial, Helvetica, sans-serif; font-size:16px; color: #424242; display: block; border: solid 0px #ffffff;")
                                |CONOCER MÁS &gt;