table(cellpadding="0" cellspacing="0" border="0" width="100%")
    tbody
        tr
            td(valign='top' align='center')
                table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="490")
                    // Spacer 40 start
                    include ../../_partials/_spacer40.pug
                    // Spacer 40 end
                    tr
                        td(valign="middle" align="center")
                            a(href="https://www.samplelink.com" target="_blank")
                                img(src="images/promo-img-01.png", alt="")
                    // Spacer 25 start
                    include ../../_partials/_spacer25.pug
                    // Spacer 25 end
                    tr
                        td.text-black.px-mob-20.fb-font(valign='top' align='center' style="font-size:18px; color: #010101; font-weight:bold; font-family:'futura', Arial, Helvetica, sans-serif;").
                            GARANTÍA DE RESULTADOS
                    tr
                        td.text-black.px-mob-20.fb-font(valign='top' align='center' style="font-size:18px; color: #010101; font-family:'futura', Arial, Helvetica, sans-serif;").
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    // Spacer 15 start
                    include ../../_partials/_spacer15.pug
                    // Spacer 15 end
                    tr
                        td.text-black.px-mob-20.fb-font(valign='top' align='center' style="font-size:18px; color: #010101; font-family:'futura-bt-book', 'futura', Arial, Helvetica, sans-serif;")
                            include ./_big-darkgray-cta.pug
                    // Spacer 30 start
                    include ../../_partials/_spacer30.pug
                    // Spacer 30 end