table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Spacer 20 content area start
            include ../../_partials/_spacer20-block.pug
            // Spacer 20 content area end
            // Product block 01 start
            table.content-table(cellpadding="0" cellspacing="0" width="600")
                tbody
                    tr
                        td.coldrop.px-mob-15(valign="middle" align="center" width="274")
                            // Product block 01 left contentarea start
                            table(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                tr
                                    td(valign="middle" align="left")
                                        // Product block 01 image contentarea start
                                        table(cellpadding="0" cellspacing="0" border="0" align="center")
                                            tr
                                                td(valign="middle" align="left")
                                                    img(src="images/prod-img-01.png", alt="Phlorentin CF - 30ml")
                                        // Product block 01 image contentarea end
                                    td.pl-15(valign="middle" align="center")
                                        table(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                            tr
                                                td.text-darkblue.fb-font.fz-mob-20.text-center.ls-1.fwb(valign='top' align="center" style="font-size:22px; color: #010101; letter-spacing:2px; font-family: Arial, Helvetica, sans-serif;")
                                                    |Phlorentin CF 30ml
                                            include ../../_partials/_spacer5.pug
                                            tr
                                                td.text-darkblue.fb-font.fz-mob-16.text-center(valign='top' align="center" style="font-size:18px; color: #8d8d8d;font-family: Arial, Helvetica, sans-serif;")
                                                    |$3,590
                            // Product block 01 left contentarea end
                        td.coldrop.spacer(valign="top" align="center" width="25" height="15")
                            |&nbsp;
                        td.spacer.bg-border-gray.coldrop(valign="top" align="center" height="1" width="1" bgcolor="#c4c4c4")
                            |&nbsp;
                        td.coldrop.spacer(valign="top" align="center" width="25" height="15")
                            |&nbsp;
                        td.coldrop.px-mob-15(valign="middle" align="center" width="275")
                            // Product block 01 right contentarea start
                            table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0' align='center' width="100%")
                                tr
                                    td(valign='top')
                                        table.align-center.autowidth(border='0' cellspacing='0' cellpadding='0')
                                            tbody
                                                tr
                                                    td.text-darkblue.fb-font.fz-mob-20.text-center.ls-1.fwb(valign='top' align="center" style="font-size:22px; color: #010101; letter-spacing:2px; font-family: Arial, Helvetica, sans-serif;").
                                                        ¡NO TE OLVIDES!
                                                include ../../_partials/_spacer10.pug
                                                tr
                                                    td(valign='top' align="left")
                                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                                            tbody
                                                                tr
                                                                    td.text-black.fb-font.text-center(valign='top' align="center" style="font-size:16px; color: #010101; font-family: Arial, Helvetica, sans-serif;").
                                                                        En compras mayores a 3,000 obtienes envío gratis y una muestra premium
                                                                include ../../_partials/_spacer15.pug
                                                                tr
                                                                    td(valign='top' align="center")
                                                                        table(cellpadding="0" cellspacing="0" border="0" align="center")
                                                                            tbody
                                                                                tr
                                                                                    td(valign="top" align="left")
                                                                                        // CTA contentarea start
                                                                                        include ./_darkblue-cta-with-icon.pug
                                                                                        // CTA contentarea  end
                            // Product block 01 right contentarea start
            // Product block 01 end