tr
    td(align="center" valign="middle")
        table(cellpadding="0" cellspacing="0" border="0" width="100%")
            tr
                td.bg-blue.text-center.p-2.pb-sm-0.rounded-bottom.rounded-sm-0(style="color: white;")
                    | Pre header copy bootiful
            tr.d-none.d-sm-block
                td
                    img.full-width(src="images/001-preheader-shadow.png")                    