table.align-center(cellpadding="0" cellspacing="0" border="0" width="")
    tbody
        include _rounded-5-red-top.pug
        tr
            td.bg-red.rounded-3(valign="top" align="center" bgcolor="#db4848")
                table(cellpadding="0" cellspacing="0" border="0" width="100%")
                    tr
                        td(valign="top" align="center" style="font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; font-family:'futura', Arial, Helvetica, sans-serif; text-align: center; font-weight: bold;")
                            a.text-white.py-5.px-30.py-mob-10(href="https://www.samplelink.com" target="_blank" style="display: block; font-size:16px; font-weight: bold; letter-spacing:1px; color: #ffffff; text-decoration: none;")
                                |Comprar ahora &gt;
        include _rounded-5-red-bottom.pug