table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td.px-mob-15(valign="top" align="center")
            table.full.p-30.bg-darkblue(cellspacing="0" cellpadding="0" border="0" width="570" bgcolor="#2e9ebe")
                tr
                    td(valign="top" align="center")
                        // Hero content block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td.fb-font(valign='top' align="center" style="font-size:16px; color:#ffffff; font-family: Arial, Helvetica, sans-serif;")
                                        |Si tienes alguna pregunta, escríbenos a
                                        <br />
                                        a(href="mailto:centroatencion@latam.skinceuticals.com" target="_blank" style="color: #ffffff; text-decoration: underline;")
                                            |centroatencion@latam.skinceuticals.com
                        // Hero content block end