table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            table.full.px-15(cellspacing="0" cellpadding="0" border="0" width="570")
                tr
                    td(valign="top" align="center")
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end
                        // Hero content block start
                        table.full(cellpadding="0" cellspacing="0" border="0" width="500")
                            tbody
                                tr
                                    td.text-darkblue.fb-font.fz-mob-26(valign='top' align="center" style="font-size:32px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        HEMOS ENVIADO TU PEDIDO
                                include ../../_partials/_spacer15.pug
                                tr
                                    td.fb-font(valign='top' align="center" style="font-size:18px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        [NOMBRE], tu pedido SCMX00000002 está en camino y será entregada de 3 a 5 días hábiles a partir de este momento.
                                include ../../_partials/_spacer15.pug
                                tr
                                    td.fb-font(valign='top' align="center" style="font-size:18px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        Si deseas seguir tu orden en tiempo real,
                                        por favor haz click en este enlace:
                        // Hero content block end
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end
                        // Black Cta block start
                        include ./_black-cta.pug
                        // Black Cta block end
                        // Spacer 30 block start
                        include ../../_partials/_spacer30-block.pug
                        // Spacer 30 block end