table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            table.full.px-15(cellspacing="0" cellpadding="0" border="0" width="570")
                tr
                    td(valign="top" align="center")
                        // Hero banner block start
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td.full-width( valign="middle" align="center")
                                        img(src="images/arrow-down.png", alt="")
                        // Hero banner block end