table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td.px-mob-15(valign="top" align="center")
            table.bg-lightwhite-02.p-30.full(cellspacing="0" cellpadding="0" border="0" width="570" bgcolor="#eeeeee")
                tr
                    td(valign="top" align="center")
                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                            tbody
                                tr
                                    td.fb-font(valign='top' align="center" style="font-size:22px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                        COSAS QUE DEBES TOMAR EN CUENTA
                                include ../../_partials/_spacer20.pug
                                tr
                                    td(valign="top" align="left")
                                        table(cellpadding="0" cellspacing="0" border="0" width="100%")
                                            tbody
                                                tr
                                                    td(valign="top" align="left" style="font-size:20px; padding-top:5px;" width="20")
                                                        img(src="images/bullet.png" alt=".")
                                                    td.fb-font(valign='top' align="left" style="font-size:14px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif; text-align:justify;").
                                                        El flete o embarque está incluido en el monto que ya pagaste, por tal motivo,la mensajeráa no cobrará ningún monto adicional. Revisa tus productos antes de firmar la recepción a la mensajeía, tu firma nos indicará que tu pedido esta en óptimas condiciones.
                                                tr
                                                    td.spacer(valign="top" height="15" colspan="2")
                                                        |&nbsp;
                                                tr
                                                    td(valign="top" align="left" style="font-size:20px; padding-top:5px;" width="20")
                                                        img(src="images/bullet.png" alt=".")
                                                    td.fb-font(valign='top' align="left" style="font-size:14px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif; text-align:justify;").
                                                        La mensajería tiene instrucciones de tocar tu puerta y entregar tus productos SkinCeuticals debidamente empacados y con la cinta de seguridad intacta.

                                                        En dado caso que tu pedido lo hayas mandado a una dirección compartida por ejemplo un lugar de trabajo, un edificio de departamentos, un conjunto de casas, etc. tu pedido será entregado al área de recepción o paquetería. Podrás verificar el nombre de la persona a la que se entregó si rastreas tu orden en la página Detalles de la Orden en tu historial de pedidos.
                                                tr
                                                    td.spacer(valign="top" height="15" colspan="2")
                                                        |&nbsp;
                                                tr
                                                    td(valign="top" align="left" style="font-size:20px; padding-top:5px;" width="20")
                                                        img(src="images/bullet.png" alt=".")
                                                    td.fb-font(valign='top' align="left" style="font-size:14px; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif; text-align:justify;").
                                                        En dado caso que tu pedido lo hayas mandado a una dirección compartida por ejemplo un lugar de trabajo, un edificio de departamentos, un conjunto de casas, etc. tu pedido será entregado al área de recepción o paquetería. Podrás verificar el nombre de la persona a la que se entregó si rastreas tu orden en la página <a href="https://www.samplelink.com" target="_blank">Detalles de la Orden</a> en tu historial de pedidos.