table.full(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr
        td(valign="top" align="center")
            // Spacer 30 content area start
            include ../../_partials/_spacer30-block.pug
            // Spacer 30 content area end
            // Product block 01 contentarea start
            table.full(cellpadding="0" cellspacing="0" width="570")
                tbody
                    tr
                        td.px-mob-15(valign="middle" align="center" width="")
                            table(cellpadding="0" cellspacing="0" border="0" align="center" width="100%")
                                tr
                                    td(valign="middle" align="center")
                                        // Product block 01 image contentarea start
                                        table.full(cellpadding="0" cellspacing="0" border="0" align="center" width="490")
                                            tr
                                                td(valign="middle" align="center")
                                                    img(src="images/prod-img-02.png", alt="")
                                            include ../../_partials/_spacer15.pug
                                            tr
                                                td.fb-font.fwb(valign='top' align="center" style="font-size:16px; color: #010101; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                    NUESTRA CIENCIA
                                            include ../../_partials/_spacer5.pug
                                            tr
                                                td.fb-font.fwb(valign='top' align="center" style="font-size:14px; color: #010101; font-family: 'futura-bt-book', Arial, Helvetica, sans-serif;").
                                                    El corazón de nuestra marca es la investigación y la innovación, lo que nos convierte en un líder en el campo del cuidado de la piel avanzado. Para ayudarte a tener una piel visiblemente saludable y asombrosa.
                                        // Product block 01 image contentarea end
            // Product block 01 contentarea end
            // Spacer 30 content area start
            include ../../_partials/_spacer30-block.pug
            // Spacer 30 content area end