table{
    &.wrapper-table {
        
    }
    &.content-table {
        @media screen and (min-width:645px) {
            width: 645px !important;
        }
    }
    tr{
        td{
            h3{
                text-align: center;
                text-transform: uppercase;
                padding: 15px 25px;
                letter-spacing: 0.5px;
            }
        }
    }
}

.text-blue {
    color: #7c22c9;
}
.text-gray {
    color: #6c6c6c;
}

.bg-red{
    background-color: #E84C50;
}
.bg-blue {
    background-color: #7c22c9;
}
.body-bg {
    background-color: #f6f6f6;
}
.sc-body-bg {
    background-color: #2e9ebe;
}
.bg-gray {
    background-color: #f6f6f6;
}

.hero-heading {
    font-size: 32px;
    font-weight: bold;
}
.hero-content {
    font-size: 20px;
}
.cta-blue {
    color: #ffffff;
}
.block-heading {
    font-size: 25px;
    font-weight: bold;
}
.promo-preheader {
    font-size: 12px;
    font-weight: bold;
}
.promo-offer-text {
    font-size: 32px;
    font-weight: bold;
}
.promo-text {
    font-size: 20px;
}
.cta {
    font-size: 14px;
    font-weight: bold;
    &.big-cta {
        font-size: 18px;
    }
}